<template>
    <div class="picklist-container" data-id="picklist">
        <template if:true={showValue}>
            {visibleValue}
            <span class="editicon slds-float_right">
                <lightning-button-icon
                    icon-name="utility:edit"
                    onclick={showEdit}
                    alternative-text="edit"
                    class="slds-float_right"
                    title="edit"
                    size="x-small"
                    variant="container"
                ></lightning-button-icon>
            </span>
        </template>
        <template if:false={showValue}>
            <lightning-combobox
                name="picklist"
                label={label}
                value={visibleValue}
                placeholder={placeholder}
                options={picklistOptions}
                onchange={handleChange}
                dropdown-alignment="auto"
            ></lightning-combobox>
        </template>
    </div>
</template>