th.slds-has-focus,
td.slds-has-focus {
	box-shadow: none !important;
}

.slds-table_edit thead th:first-child {
	width: 60px;
}

.picklist-container:hover {
	background-color: white;
}
.editicon {
	display: none !important;
	color: rgb(112, 110, 107) !important;
}
.picklist-container:hover .editicon {
	display: inline !important;
}