<template>
	<lightning-card title="Installation Information" icon-name="standard:apex_plugin">
		<template if:true={state.b2cInternetCustomer}>
			<div class="slds-p-horizontal_medium">
				<div
					class="slds-notify slds-notify_alert slds-alert_warning"
					role="alert"
					style="display: block"
				>
					<p>
						<b>Note</b>&nbsp;Never promise an existing Ziggo internet customer that new
						hardware will be delivered. We cannot guarantee this.
					</p>
					<p>
						<b>Let op</b>&nbsp;beloof nooit aan een bestaande Ziggo internet klant dat
						er nieuwe hardware geleverd gaat worden. Dit kunnen we namelijk niet
						garanderen.
					</p>
				</div>
			</div>
		</template>
		<div class="slds-grid slds-wrap slds-m-horizontal_small">
			<div class="slds-col slds-size_6-of-12">
				<lightning-input
					class="slds-m-right_medium"
					type="date"
					name="earliestInstallationDate"
					label="Earliest Installation Date"
					value={earliestInstallationDate}
					read-only="true"
					date-style="short"
				></lightning-input>
			</div>
			<div class="slds-col slds-size_6-of-12 slds-m-top_medium">
				<lightning-input
					style="display: inline-flex; width: auto"
					type="toggle"
					name="assignTechnician"
					label="Assign Technician"
					onchange={assignTechnicianChange}
					checked={assignTechnician}
					message-toggle-active=""
					message-toggle-inactive=""
				></lightning-input>
			</div>
			<div class="slds-col slds-size_6-of-12">
				<div class="slds-grid slds-wrap">
					<div class="slds-col slds-size_6-of-12 slds-m-right_small">
						<lightning-input
							class="slds-m-top_small"
							type="date"
							name="firstPreferredInstallationDate"
							label="1st preferred installation date "
							onchange={preferredInstallationDateChange}
							value={firstPreferredInstallationDate}
							min={earliestInstallationDate}
							max={maxInstallationDate}
							date-style="short"
						></lightning-input>
					</div>
					<div class="slds-col slds-size_5-of-12 slds-m-left_small">
						<lightning-combobox
							class="slds-m-top_medium"
							name="firstPreferredInstallationDayPeriod"
							options={dayPeriods}
							onchange={dayPeriodChange}
							value={firstPreferredInstallationDayPeriod}
						></lightning-combobox>
					</div>
				</div>
			</div>
			<div class="slds-col slds-size_6-of-12">
				<div class="slds-grid slds-wrap">
					<div class="slds-col slds-size_6-of-12 slds-m-right_small">
						<lightning-input
							class="slds-m-top_small"
							type="date"
							name="secondPreferredInstallationDate"
							label="2nd preferred installation date"
							onchange={preferredInstallationDateChange}
							value={secondPreferredInstallationDate}
							disabled={disableInstallationDate}
							min={firstPreferredInstallationDate}
							max={maxInstallationDate}
							date-style="short"
						></lightning-input>
					</div>
					<div class="slds-col slds-size_5-of-12 slds-m-left_small">
						<lightning-combobox
							class="slds-m-top_medium"
							name="secondPreferredInstallationDayPeriod"
							options={dayPeriods}
							onchange={dayPeriodChange}
							value={secondPreferredInstallationDayPeriod}
							disabled={disableInstallationDate}
						></lightning-combobox>
					</div>
				</div>
			</div>
			<div class="slds-col slds-size_6-of-12 slds-m-top_medium">
				<div class="slds-grid slds-wrap">
					<div class="slds-col slds-size_6-of-12 slds-m-right_small">
						<lightning-input
							class="slds-m-top_small"
							type="date"
							name="thirdPreferredInstallationDate"
							label="3rd preferred installation date"
							onchange={preferredInstallationDateChange}
							value={thirdPreferredInstallationDate}
							disabled={disableInstallationDate}
							min={secondPreferredInstallationDate}
							max={maxInstallationDate}
							date-style="short"
						></lightning-input>
					</div>
					<div class="slds-col slds-size_5-of-12 slds-m-left_small">
						<lightning-combobox
							class="slds-m-top_medium"
							name="thirdPreferredInstallationDayPeriod"
							options={dayPeriods}
							onchange={dayPeriodChange}
							value={thirdPreferredInstallationDayPeriod}
							disabled={disableInstallationDate}
						>
						</lightning-combobox>
					</div>
				</div>
			</div>
		</div>
	</lightning-card>
</template>