<template>
	<lightning-card title="Special Promotions" icon-name="utility:money">
		<div class="slds-p-horizontal_small">
			<template for:each={selectedPromotions} for:item="sp" for:index="index">
				<div class="slds-grid slds-gutters" key={sp.value}>
					<div
						class="slds-col"
						style="display: flex; flex-direction: row; align-items: center"
					>
						<lightning-combobox
							name="specialPromotion"
							value={sp.value}
							options={selectedPromotions}
							class="slds-m-bottom_xxx-small"
							style="flex-grow: 1"
							disabled
						>
						</lightning-combobox>
						<button
							class="slds-button slds-button_destructive"
							style="width: 83.0625px; margin: 16px 0 0 10px"
							value={index}
							onclick={removeSpecialPromotion}
						>
							Remove
						</button>
					</div>
				</div>
			</template>
			<div class="slds-grid slds-gutters">
				<div
					class="slds-col"
					style="display: flex; flex-direction: row; align-items: center"
				>
					<lightning-combobox
						name="specialPromotion"
						placeholder="Select Special Promotion"
						value={selectedPromotion}
						options={formattedPromotions}
						class="slds-m-bottom_x-small special-promotions"
						onchange={handlePromotionChange}
						style="flex-grow: 1"
					>
					</lightning-combobox>
					<button
						class="slds-button slds-button_neutral"
						style="width: 83.0625px; margin: 10px 0 0 10px"
						onclick={addSpecialPromotion}
					>
						Add
					</button>
				</div>
			</div>
		</div>
	</lightning-card>
</template>