<template>
	<c-order-entry-telephony-product-form state={state} products={telProducts}
		onselectedproduct={handleProductSelection} onupdatedsettings={handleUpdatedSettings}>
	</c-order-entry-telephony-product-form>
	<c-order-entry-telephony-product-form state={state} products={telProducts}
		onselectedproduct={handleProductSelection} onupdatedsettings={handleUpdatedSettings} disableable="true"
		title="Extra Line" product-type={secondaryType} disabled={secondaryDisabled}>
	</c-order-entry-telephony-product-form>
</template>