<template>
	<lightning-card title={title} icon-name="standard:call" class="slds-m-bottom_medium" style="display:block;">
		<template if:true={disableable}>
			<div slot="actions">
				<lightning-input type="toggle" label="Active" name="extraLineEnabled" message-toggle-active=""
					message-toggle-inactive="" checked={isActive} onchange={handleLineStatusChange} disabled={disabled}>
				</lightning-input>
			</div>
		</template>
		<div class="slds-p-horizontal_small">
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_1-of-2" style="display:flex;flex-direction:row;align-items:center;">
					<lightning-combobox name="telephonyProduct" label="Telephony Product" value={selectedProduct}
						placeholder="Select Product" options={formattedProducts} disabled={allDisabled}
						class="slds-m-bottom_x-small internet-product" onchange={handleProductChange}
						style="flex-grow: 1;">
					</lightning-combobox>
					<lightning-button-icon icon-name="utility:close" alternative-text="Remove" title="Remove"
						onclick={handleRemoveProduct} variant="bare" style="padding: 10px 0 0 10px;">
					</lightning-button-icon>
				</div>
			</div>
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_1-of-2">
					<div class="slds-p-top_large">
						<lightning-input type="toggle" label="Porting Phone Number" name="portingNumberEnabled"
							message-toggle-active="" message-toggle-inactive="" checked={portingNumberEnabled}
							onchange={handlePortingStatusChange} disabled={isToggleDisabled}></lightning-input>
					</div>
				</div>
				<div class="slds-col slds-size_1-of-2">
					<lightning-input type="text" name="telephoneNumber" label="Telephone Number" data-type="porting-number"
						value={portingNumberValue} placeholder="" class="slds-m-bottom_x-small"
						onchange={handlePortingNumberChange} required={isPortingNumberRequired}
						disabled={isPortingNumberDisabled}></lightning-input>
				</div>
			</div>
		</div>
	</lightning-card>
</template>