<template>
	<lightning-card title="Overstapservice" icon-name="standard:product_transfer">
		<div class="slds-grid slds-wrap slds-m-horizontal_small">
			<div class="slds-col slds-size_6-of-12 slds-m-top_medium">
				<lightning-input
					class="slds-m-right_medium"
					style="display: inline-flex; width: auto"
					type="toggle"
					name="requested"
					label="Overstapservice"
					checked={requested}
					onchange={requestedChange}
					message-toggle-inactive=""
					message-toggle-active=""
					disabled={disabledOperatorSwitch}
				></lightning-input>
			</div>
			<div class="slds-col slds-size_6-of-12 slds-m-top_medium">
				<lightning-input
					class="slds-m-left_medium"
					style="display: inline-flex; width: auto"
					type="toggle"
					name="potentialFeeAccepted"
					label="Customer accepts a potential termination fee at the current provider"
					checked={potentialFeeAccepted}
					disabled={operatorSwitchNotRequested}
					onchange={handleFormInputChange}
					message-toggle-active=""
					message-toggle-inactive=""
				></lightning-input>
			</div>
			<div class="slds-col slds-size_6-of-12 slds-m-top_medium">
				<lightning-combobox
					class="slds-m-right_medium"
					label="Current Internet Provider"
					name="currentProvider"
					options={currentProviderOptions}
					value={currentProvider}
					disabled={operatorSwitchNotRequested}
					onchange={handleFormInputChange}
				></lightning-combobox>
			</div>
			<div class="slds-col slds-size_6-of-12 slds-m-top_medium">
				<lightning-input
					class="slds-m-left_medium"
					type="text"
					name="currentContractNumber"
					label="Current Contract Number"
					value={currentContractNumber}
					disabled={operatorSwitchNotRequested}
					onchange={handleFormInputChange}
				></lightning-input>
			</div>
		</div>
	</lightning-card>
</template>