<template>
    <div style="display:flex;align-items:center;justify-content:flex-start">
        <div>
            <a class="slds-button slds-button_brand" onclick={handleClick} href="javascript:void(0);">{buttonName}</a>
        </div>
        <div if:true={isLoading} class="slds-p-left_xx-large slds-spinner_inline">
            <lightning-spinner
                variant="brand"
                alternative-text="Loading"
                size="small">
            </lightning-spinner>
        </div>
    </div>
    <div if:true={errors}>
        <ul>
            <template for:each={errors} for:item="error">
                <li key={error.index}>
                    <p style="color:#FF0000" class="slds-p-bottom_xx-small">
                        {error.body.message}
                    </p>
                </li>
            </template>
        </ul>
    </div>
</template>