<template>
    
    <div style="height:500px">
        <lightning-tabset>
            <lightning-tab label="Existing Installed base items" title="select..">
                <div class="spinner">
                    <template if:true={isLoading}>
                        <lightning-spinner alternative-text="Loading" variant="brand" size="large">
                        </lightning-spinner>
                    </template>
                </div>
                <div class="slds-grid slds-gutters">
                    
                    <div class="slds-col slds-m-left_small">
                        <lightning-input  data-id="searchField" type="text" onchange={findSearchResult} class = "slds-m-bottom_small" label = "Charge Description" name="ChargeDescription"  value={chargeDescription}> </lightning-input>
                    </div>
                    <div class="slds-col slds-m-left_small">
                        <lightning-input  type="text" onchange={findSearchResult} class = "slds-m-bottom_small" label = "Site" name="Site"  value={searchSite}> </lightning-input>
                    </div>
                    <div class="slds-col slds-m-left_small">
                        <lightning-input  type="text" onchange={findSearchResult} class = "slds-m-bottom_small" label = "Purchase Order" name="PurchaseOrder"  value={searchPurchaseOrder}> </lightning-input>
                    </div>
                    <div class="slds-col slds-m-left_small">
                        <lightning-input  type="text" onchange={findSearchResult} class = "slds-m-bottom_small" label = "Allocation Code" name="AllocationCode"  value={searchAllocationCode}> </lightning-input>
                    </div>
                    <div class="slds-col slds-m-right_small">
                        <lightning-input  type="number" onchange={findSearchResult} class = "slds-m-bottom_small" label = "Contract Period" name="ContractPeriod"  value={searchContractPeriod}> </lightning-input>
                    </div>
                    <template if:false={isCP}>
                    <div class="buttonClass">
                    <lightning-button variant="brand" label={buttonLabel} title="Primary action" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>  
                     </div>
                    </template> 
                     <template if:true={isCP}>
                     <div class="buttonClass">
                        <lightning-button variant="brand" label={buttonLabelCP} title="Primary action" onclick={createContractedProd}  class="slds-m-left_x-small" ></lightning-button>  
                   </div>
                   </template> 
                </div>
                <lightning-datatable key-field="Id"
                    data={customerAssets}
                    columns={columns}
                    enable-infinite-loading={isLoaded}
                    sorted-by={sortBy}
                    sorted-direction={sortDirection}
                    onsort={handleSortdata}
        
                    onrowselection={processRowSelection}
                    selected-rows={selectedCustomerBaseItems}
                    onloadmore={loadMoreData} 
                    >
                  
                    >
                </lightning-datatable>
            </lightning-tab>
            <!-- What to do with deselecting here, disappear from this list straight away or some confirmation needed? -->
           
            <lightning-tab label={selectedCustomerAssetLabel} title="selected..">
                <div class="spinner">
                    <template if:true={isLoading}>
                        <lightning-spinner alternative-text="Loading" variant="brand" size="large">
                        </lightning-spinner>
                    </template>
                </div>
                <template if:false={isCP}>
                <div class="buttonClass">
                    <lightning-button variant="brand" label={buttonLabel} title="Primary action" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>  
                </div>
            </template>
            <template if:true={isCP}>
                <div class="buttonClass">
                   <lightning-button variant="brand" label={buttonLabelCP} title="Primary action" onclick={createContractedProd}  class="slds-m-left_x-small" ></lightning-button>  
              </div>
              </template> 
                <lightning-datatable key-field="Id"
                    data={selectedCustomerAssets}
                    columns={columns}
                    enable-infinite-loading
                    sorted-by={sortBy}
                    sorted-direction={sortDirection}
                    onsort={handleSortdata}
                    onrowselection={toggleSelection}
                    selected-rows={selectedCustomerAssetsCopy}>
                    >
                </lightning-datatable>
            </lightning-tab>
           <!-- <lightning-tab label="One net licenses" title="select..">
                <div class="spinner">
                    <template if:true={isLoading}>
                        <lightning-spinner alternative-text="Loading" variant="brand" size="large">
                        </lightning-spinner>
                    </template>
                </div>
                <div class="slds-grid slds-gutters">
                    
                    <div class="slds-col slds-m-left_small">
                        <lightning-input  data-id="searchField" type="text" onchange={findSearchResult} class = "slds-m-bottom_small" label = "Charge Description" name="ChargeDescription"  value={chargeDescription}> </lightning-input>
                    </div>
                    <div class="slds-col slds-m-left_small">
                        <lightning-input  type="text" onchange={findSearchResult} class = "slds-m-bottom_small" label = "Site" name="Site"  value={searchSite}> </lightning-input>
                    </div>
                    <div class="slds-col slds-m-left_small">
                        <lightning-input  type="text" onchange={findSearchResult} class = "slds-m-bottom_small" label = "Purchase Order" name="PurchaseOrder"  value={searchPurchaseOrder}> </lightning-input>
                    </div>
                    <div class="slds-col slds-m-left_small">
                        <lightning-input  type="text" onchange={findSearchResult} class = "slds-m-bottom_small" label = "Allocation Code" name="AllocationCode"  value={searchAllocationCode}> </lightning-input>
                    </div>
                    <div class="slds-col slds-m-right_small">
                        <lightning-input  type="number" onchange={findSearchResult} class = "slds-m-bottom_small" label = "Contract Period" name="ContractPeriod"  value={searchContractPeriod}> </lightning-input>
                    </div>
                    <template if:false={isCP}>
                    <div class="buttonClass">
                    <lightning-button variant="brand" label={buttonLabel} title="Primary action" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>  
                     </div>
                    </template> 
                     <template if:true={isCP}>
                     <div class="buttonClass">
                        <lightning-button variant="brand" label={buttonLabelCP} title="Primary action" onclick={createContractedProd}  class="slds-m-left_x-small" ></lightning-button>  
                   </div>
                   </template> 
                </div>
                <lightning-datatable key-field="Id"
                    data={customerAssets}
                    columns={columns}
                    enable-infinite-loading={isLoaded}
                    sorted-by={sortBy}
                    sorted-direction={sortDirection}
                    onsort={handleSortdata}
                    show-row-number-column = "true" 
                    onrowselection={processRowSelection}
                    selected-rows={selectedCustomerBaseItems}
                    onloadmore={loadMoreData} 
                    >
                  
                    >
                </lightning-datatable>
            </lightning-tab> -->
        </lightning-tabset>
    </div>
<template if:true={error}>
    {error}
</template>
</template>