<template>
    <lightning-card>
        <div class="slds-p-horizontal_medium">
            <lightning-button label="Add/Edit Products" onclick={navigateToPage}></lightning-button>
        </div>
    </lightning-card>
</template>