<template>
	<c-order-entry-account-details state={state}></c-order-entry-account-details>
	<c-order-entry-contact-details
		state={state}
		onstatechanged={updateState}
	></c-order-entry-contact-details>
</template>