<template>
	<lightning-card title="Payment Details" icon-name="standard:buyer_account">
		<div class="slds-p-horizontal_small">
			<div class="slds-grid slds-gutters">
				<div class="slds-col">
					<lightning-input
						type="text"
						label="Bank Account Holder"
						value={bankAccountHolder}
						data-id="bankAccountHolder"
						onfocusout={handlePaymentChange}
						class="bank-account-holder"
					></lightning-input>
					<lightning-input
						type="text"
						label="IBAN"
						value={iban}
						data-id="iban"
						onfocusout={handlePaymentChange}
						class="iban"
					></lightning-input>
				</div>
				<div class="slds-col">
					<lightning-combobox
						label="Payment Type"
						data-id="paymentType"
						value={paymentType}
						placeholder="Select Payment Type"
						options={paymentTypes}
						onchange={handlePaymentChange}
						class="payment-type"
					>
					</lightning-combobox>
					<lightning-combobox
						label="Billing Channel"
						data-id="billingChannel"
						value={billingChannel}
						placeholder="Select Billing Channel"
						options={billingChannels}
						onchange={handlePaymentChange}
						class="billing-channel"
					></lightning-combobox>
				</div>
			</div>
		</div>
	</lightning-card>
</template>