<template>
	<template if:true={loading}>
		<lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
	</template>
	<c-order-entry-installation-address
		state={state}
		onstatechanged={updateState}
		onselectedsite={handleSelectedSite}
	></c-order-entry-installation-address>
	<c-order-entry-address-check
		state={state}
		onstatechanged={updateState}
	></c-order-entry-address-check>
</template>