<template>
	<c-order-entry-tv-product-form
		products={tvProducts}
		addons={addons}
		state={_state}
		onselectedproduct={handleProductSelection}
		onchangedaddon={handleChangedAddon}
		class="slds-m-bottom_medium"
		style="display: block"
	>
	</c-order-entry-tv-product-form>
	<template if:true={addonsExist}>
		<c-order-entry-tv-additional-form
			addons={addons}
			state={state}
			onchangedaddon={handleChangedAddon}
		>
		</c-order-entry-tv-additional-form>
	</template>
</template>