<template>
	<template if:true={account}>
		<div class="slds-p-top_medium">
			<lightning-card title="Account Details" icon-name="standard:account">
				<div class="slds-grid slds-gutters slds-p-left_medium slds-p-right_medium">
					<div class="slds-col">
						<lightning-input
							type="text"
							name="name"
							label="Account"
							disabled
							value={account.Name}
						></lightning-input>
					</div>
					<div class="slds-col">
						<lightning-input
							type="text"
							name="kvk"
							label="KVK Number"
							disabled
							value={account.KVK_number__c}
						></lightning-input>
					</div>
				</div>
			</lightning-card>
		</div>
	</template>
</template>