<template>
	<div class="slds-docked_container order-entry-docked-container">
		<section
			class={classes}
			role="dialog"
			aria-labelledby="dialog-heading-id-1"
			aria-describedby="dialog-content-id-1"
		>
			<header
				class="slds-docked-composer__header slds-grid slds-shrink-none"
				aria-live="assertive"
				onclick={toggleVisibility}
			>
				<div class="slds-media slds-media_center slds-no-space">
					<div class="slds-media__figure slds-m-right_x-small">
						<span class="slds-icon_container">
							<lightning-icon
								icon-name="utility:cart"
								size="x-small"
							></lightning-icon>
						</span>
					</div>
					<div class="slds-media__body">
						<h2 class="slds-truncate" id="dialog-heading-id-1" title="Order Summary">
							Order Summary
						</h2>
					</div>
				</div>
				<div class="slds-col_bump-left slds-shrink-none">
					<lightning-button-icon
						icon-name="utility:minimize_window"
						variant="bare"
						alternative-text=">Minimize Composer Panel"
						title=">Minimize Composer Panel"
					>
					</lightning-button-icon>
				</div>
			</header>
			<div class="slds-docked-composer__body" id="dialog-content-id-1">
				<div style="display: inherit">
					<lightning-icon
						class="slds-m-around_x-small"
						icon-name="utility:info"
						alternative-text="VAT Info"
						title="VAT Info"
						size="x-small"
					></lightning-icon>
					<h2 class="slds-m-top_x-small">All prices are ex. VAT (ex. BTW)</h2>
				</div>

				<c-order-entry-summary-table state={state}></c-order-entry-summary-table>
			</div>
		</section>
	</div>
</template>