<apex:component controller="NewApprovalsEmailController" access="global">
    <apex:attribute name="activity" type="Id" description="" assignTo="{!entryId}" access="global"/>

    Dear {!emailActivity.appro__Approver_User__r.Name}, <br/>
    <br/>
    A new record was submitted for your approval with the following message: <br/>  
    <br/>
    {!emailActivity.appro__Approval_Request__r.appro__Submitted_Message__c}<br/>
    <br/>
    Click on the following link for detailed info: <a href="{!urlRecord + emailActivity.appro__Approval_Request__r.appro__RID__c}">{!emailActivity.appro__Approval_Request__r.appro__Record_Name__c}.</a><br/>
    
    <br/>
    Object: {!emailActivity.appro__Approval_Request__r.appro__Record_Object_Label__c}.<br/>
    <br/>
    Your pending approvals:<br/>
    <table>


        <apex:repeat var="approval" value="{!approvalList}">
            <tr>
                <td>Approval:</td>
                <td>
            {!IF(approval.appro__Approval__r.appro__Approval_Step__r.Name == null, 
                emailActivity.appro__Approval__r.appro__Approval_Step__r.Name + ' - ' + emailActivity.appro__Approval__r.appro__Approval_Step__r.appro__Approval_Reason__c, 
                approval.appro__Approval__r.appro__Approval_Step__r.Name + ' - ' + approval.appro__Approval__r.appro__Approval_Step__r.appro__Approval_Reason__c)}
                </td>
            </tr>
        </apex:repeat>

        <tr>
            <td>Channel:</td><td>{!emailActivity.appro__Approval_Request__r.Product_Basket_lookup__r.DirectIndirect__c}</td>
        </tr>
        <tr>
            <td>Partner/DS Team:</td><td>{!teamName}</td>
        </tr>
        <tr>
            <td>Request by:</td><td>{!ownerName}</td>
        </tr>
        <tr>
            <td>Opportunity: </td><td><a href="{!urlRecord + emailActivity.appro__Approval_Request__r.Product_Basket_lookup__r.cscfga__Opportunity__c}">{!emailActivity.appro__Approval_Request__r.Product_Basket_lookup__r.cscfga__Opportunity__r.Name}</a></td>
        </tr>
        <apex:outputText value="{!ctnOrSip}" escape="false" />


    </table>
    <br/>
    To approve/reject immediately, you can click 'Reply' and type 'Approved' to approve the record or 'Rejected' to reject, then click 'Send'.<br/>
    <br/>
    Best regards,<br/>
    Your Salesforce Admins

    <div style="color:white;">
        <apex:repeat var="approval" value="{!approvalList}">
            Approval: <a href="{!urlRecord + approval.appro__Approval__c}" style="color:white">{!IF(approval.appro__Approval__r.appro__Approval_Step__r.Name == null, emailActivity.appro__Approval__r.appro__Approval_Step__r.Name, approval.appro__Approval__r.appro__Approval_Step__r.Name)}</a><br/>
        </apex:repeat>
    </div>

</apex:component>