<template>
	<lightning-combobox name="product" label="Product" value={selectedMainProduct} placeholder="Select Product"
		options={products} onchange={handleChange} required></lightning-combobox>
</template>