.container {
	border: 4px solid #F2F2F5;
	box-sizing: border-box;
}
header {
	background: #fff;
	border: none;
	border-bottom: 2px solid #F2F2F5;
}
footer {
	background: #fff;
	border: none;
	border-top: 2px solid #F2F2F5;
}
header h2 {
	display: none;
}
.settings-popup {
	z-index: 9999;
	top: 2px;
	border-radius: 0;
	border: 1px solid #cdd1d4;
}
.settings-header h2 {
	font-weight: normal;
	color: #818385;
}
.settingLabel, .item-details-label {
	font-size: 0.85rem;
	color: #818385;
}
.item-details-form label {
	padding: .5rem 1rem;
	color: #818385;
}
.slick-header-columns, .slick-headerrow-columns, .myGrid .slick-row {
	border: 1px solid transparent;
}
.changed:before, .witherror:before {
	color: #C11A1A;
}
.icon-error-triangle:before {
	color: #ffb75d;
}
.witherror {
	border: 1px solid rgba(194, 57, 52, 0.3);
	box-shadow: 0 0 2px rgba(194, 57, 52, 0.21)
}
.spinner {
	height: 55px;
	width: 56px;
	background: transparent url("../img/YEloading.gif") no-repeat center / 100%;
}
footer .buttons-wrapper button:first-child {
	display: none;
}
.slick-header .slick-header-column {
	background: #f2f2f5;
	color: #4E5C60;
}
.slick-cell>div {
	color: #818385;
}
.cs-btn {
	background: #f2f2f5;
	color: #818385;
	border: none;
	border-radius: 0 !important;
}
.cs-btn:hover {
	background-color: #CDD1D4;
	color: #4E5C60;
}
.cs-btn:active {
	border: none;
}
.cs-btn[disabled=disabled], .cs-btn[disabled] {
	background: #f2f2f5;
	color: #818385;
}
.button-group .cs-btn + .cs-btn {
	margin-left: 0px;
}
label.upload-wrapper {
	border: 1px solid #CDD1D4;
	border-radius: 0;
	color: #818385;
}
.cs-btn-inverted {
	background: #F7C758;
	color: #fff;
}
.cs-btn-inverted:hover {
	color: #fff;
	background: #f4af0f;
}

.settings-header {
	border-bottom: 2px solid #F2F2F5;
}

.columnSelector {
	color: #4E5C60;
	border-radius: 0;
}
.setting .SelectList {
	background: #fff;
	color: #4E5C60;
	border: 1px solid #cdd1d4;
}

.settings-footer {
	background: #fff;
	border-top: 2px solid #F2F2F5;;
}

.settings-footer .cs-btn {
	background-color: #818385;
	color: #fff;
}
.settings-footer .cs-btn:hover {
	background: #4E5C60;
}
.selector-header {
	background: #f2f2f5;
	color: #4e5c60;
}
.saved:before {
	color: #88BB67;
}
.item-details-form {
	border-radius: 0;
	border: 1px solid #CDD1D4;
	/* color: #818385; */
}
.select2-container .select2-choice {
	border-radius: 0;
	border: 1px solid #CDD1D4;
}
.select2-container.select2-container-active .select2-choice {
	border-color: #61B2DF;
	background-color: #fff;
	box-shadow: 0 0 3px #61B2DF;
}
.select2-results .select2-highlighted {
	background: rgba(97, 178, 223, 0.125);
}
.select2-results.tableHeader div {
	background-color: #f2f2f5;
}
.select2-results.tableHeader .select2-result-label .rTableCell {
	color: #4e5c60;
}
.item-details-form-buttons .cancel {
	background-color: #818385;
	color: #fff;
}
.item-details-form-buttons .cancel:hover {
	background: #4E5C60;
}
.item-details-form-buttons .save {
	background-color: #F7C758;
	color: #fff;
	margin-left: 4px !important;
}
.item-details-form-buttons .save:hover {
	background: #f4af0f;
}

.item-details-form-buttons {
	background: #fff;
	border-top: 2px solid #F2F2F5;
}