<template>
	<template if:true={showLoader}>
		<div
			style="
				height: 100%;
				width: 100%;
				position: absolute;
				z-index: 10000000000;
				background: rgba(255, 255, 255, 0.5);
			"
		>
			<div role="status" class="slds-spinner slds-spinner_medium">
				<span class="slds-assistive-text">Loading</span>
				<div class="slds-spinner__dot-a"></div>
				<div class="slds-spinner__dot-b"></div>
			</div>
		</div>
	</template>
	<div class="slds-m-top_large"></div>
	<c-order-entry-bundle-promotion
		state={state}
		promotions={bundlePromotions}
		class="slds-m-bottom_medium"
		style="display: block"
		onselectedpromotion={handleSelectedPromotion}
		onb2ctoggle={handleB2cToggle}
	></c-order-entry-bundle-promotion>
	<template if:true={specialPromotionsExist}>
		<c-order-entry-special-promotions
			state={state}
			promotions={specialPromotions}
			class="slds-m-bottom_medium"
			style="display: block"
			onselectedpromotion={handleSelectedPromotion}
			onremovespecialpromotion={handleRemoveSpecialPromotion}
		></c-order-entry-special-promotions>
	</template>
	<template if:false={specialPromotionsExist} class="slds-m-bottom_medium">
		<div class="slds-m-bottom_medium">
			<lightning-card
				title="Special Promotions"
				icon-name="utility:money"
				class="slds-m-bottom_medium"
			>
				<div class="slds-p-horizontal_small slds-col">
					<lightning-formatted-text
						value="No Special Promotions available"
					></lightning-formatted-text>
				</div>
			</lightning-card>
		</div>
	</template>
	<c-order-entry-payment-details state={state} onpaymentchanged={handlePaymentChange}>
	</c-order-entry-payment-details>
</template>