<template>
	<template if:true={loading}>
		<lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
	</template>
	<div class="slds-p-top_medium">
		<lightning-card title="Quote &amp; Signature" icon-name="standard:quotes">
			<lightning-button
				class="slds-p-right_small"
				variant="brand"
				label="Create Order Confirmation"
				slot="actions"
				onclick={createConfirmation}
			>
			</lightning-button>
			<lightning-button
				if:true={showViewLastComponent}
				class="slds-p-right_small"
				label="View Last Order Confirmation"
				onclick={viewLastQuote}
				slot="actions"
			>
			</lightning-button>
			<lightning-input
				class="slds-m-left_medium"
				type="checkbox"
				label="Signed Order Confirmation"
				checked={signedQuote}
				disabled="true"
			></lightning-input>
		</lightning-card>
		<div class="slds-m-top_medium"></div>
		<lightning-card title="Finish" icon-name="standard:task2">
			<lightning-button
				if:true={showSendQuote}
				class="slds-p-right_small"
				variant="brand"
				label="Send Quote"
				onclick={sendQuote}
				slot="actions"
			>
			</lightning-button>
			<lightning-button
				if:true={showSendSignedConfirmation}
				class="slds-p-right_small"
				label={sendConfirmationLabel}
				onclick={sendSignedConfirmation}
				slot="actions"
			>
			</lightning-button>
		</lightning-card>
		<c-pdf-viewer>
			<div slot="actions">
				<lightning-button
					class="slds-p-right_small"
					icon-name="utility:edit"
					label="Sign"
					onclick={openSignatureModal}
					variant="inverse"
					if:true={detectMobile}
				>
				</lightning-button>
			</div>
		</c-pdf-viewer>
		<c-order-entry-signature-modal
			onconfirmsignature={confirmationSignature}
			onclosemodal={closeModal}
		></c-order-entry-signature-modal>
	</div>
</template>