<template>
    <c-datatable-picklist label={typeAttributes.label} value={typeAttributes.value}
        placeholder={typeAttributes.placeholder} options={typeAttributes.options} context={typeAttributes.context} fieldname={typeAttributes.fieldname}>
    </c-datatable-picklist>
</template>