<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <lightning-card
        variant="Narrow"
        title="Assets Information"
        icon-name="standard:asset_relationship"
    >
        <template if:false={isError}>
            <lightning-input type="text" slot="actions" placeholder="Enter CTN Search Text.." onkeyup={startSearchTimer} disabled={disableSearch}></lightning-input>
            <lightning-datatable
                data-id="datarow"
                columns={columns}
                data={data}
                key-field="Id"
                selected-rows={selection}
                onrowselection={rowSelection}
            >
            </lightning-datatable>
        </template>
        <template if:true={isError}>
            <div class="slds-theme_alert-texture slds-theme_error slds-var-p-around_medium" role="alert">
                <h2 class="slds-align_absolute-center slds-text-heading_medium">Cannot change settings to a close won Opportunity
                </h2>
            </div>
        </template>
    </lightning-card>
        <template if:false={isError}>
            <lightning-layout class="slds-m-top_small slds-align_absolute-center">
                <lightning-layout-Item class="slds-align_absolute-center" padding="around-small" flexibility="auto">
                    <lightning-button
                        label="Prev"
                        icon-name="utility:chevronleft"
                        icon-position="left"
                        onclick={previousEve}
                        disabled={disPre}
                    >
                    </lightning-button>
                    <span class="slds-p-horizontal_small">
                        {recordCount}
                    </span>
                    <lightning-button
                        label="Next"
                        icon-name="utility:chevronright"
                        icon-position="right"
                        disabled={isLastPage}
                        onclick={nextEve}
                    >
                    </lightning-button>
                </lightning-layout-Item>
            </lightning-layout>
        </template>
    <template if:false={isQuickAction}>
        <div class="slds-p-top_small">
            <div class="slds-float_right">
                <lightning-button variant="destructive-text" label="Save" title="Save" onclick={selectSaveOLI} class="slds-m-left_x-small" disabled={isError}></lightning-button>
                <lightning-button variant="destructive-text" label="Return" title="return to journey" onclick={close} class="slds-m-left_x-small"></lightning-button>
            </div>
        </div>
    </template>
</template>