table.pvtTable {
    font-family:arial;
    font-size: 10pt;
    text-align: left;
    border-collapse: collapse;
}

table.pvtTable tr th, table.pvtTable tr th {
    background-color: #e6EEEE;
    border: 1px solid #CDCDCD;
    font-size: 10pt;
    padding: 5px;
}

table.pvtTable .pvtColLabel {
    text-align: center;
    min-width: 80px;
	
}
table.pvtTable .pvtRowLabel {
	min-width: 250px;
	max-width: 250px;
	white-space: normal;
}

table.pvtTable .pvtTotalLabel {
    text-align: right;
}

table.pvtTable tr td {
    color: #3D3D3D;
    padding: 5px;
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    vertical-align: top;
    text-align: right;
}

/* This is to hide miscellaneous pivot elements to make it easier for the user. axis_0 is the Amount selector */
.pvtRenderer, .pvtAggregator, .pvtAttrDropdown, .pvtVals, .axis_0, .rowTotal, .pvtGrandTotal{
    display: none;
}

/* This is to hide the horizontal pivot entry bar */
td.pvtAxisContainer.pvtHorizList.pvtCols.ui-sortable{
    display: none;    
}

/* This is to hide the total label on the last column */
.pvtTotalLabel:last-child{
    display:none;
}

.pvtTotal, .pvtGrandTotal {
    font-weight: bold;
}

.pvtVals {
    text-align: center;
}

.pvtAggregator {
    margin-bottom: 5px;
}

.pvtAxisContainer, .pvtVals {
    border: 1px solid gray;
    background: #EEE;
    padding: 5px;
    min-width: 120px;
    min-height: 20px;
    font-family: arial;
    font-size: 12px;
}

.pvtAxisContainer li {
    padding: 5px 3px;
    list-style-type: none;
    cursor:move;
}

.pvtAxisContainer li.pvtPlaceholder {
    -webkit-border-radius: 5px;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #aaa;
}

.pvtAxisContainer li span.pvtAttr {
    background: #F3F3F3;
    border: 1px solid #DEDEDE;
    padding: 2px 5px;
    white-space:nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pvtTriangle {
    cursor:pointer;
    color: grey;
}

.pvtHorizList li {
    display: inline;
}

.pvtVertList {
    vertical-align: top;
}

.pvtFilteredAttribute {
    font-style: italic
}

.pvtFilterBox {
    z-index: 100;
    width: 280px;
    border: 1px solid gray;
    background-color: #fff;
    position: absolute;
    padding: 20px;
    text-align: center;
}

.pvtFilterBox h4 {
    margin:0;
}

.pvtCheckContainer {
    text-align: left;
    overflow: scroll;
    width: 100%;
    max-height: 200px;
}


.pvtCheckContainer p {
    margin: 5px;
}
.pvtValDrillDown .pvtVal:hover, .pvtValDrillDown .pvtTotal:hover {
	cursor:pointer;
	background-color:#F0F0F0;
}
#pivotHolder .pvtValDrillDown .pvtVal[data-value="null"]:hover, #pivotHolder .pvtValDrillDown .pvtTotal[data-value="null"]:hover {
	cursor:default;
	background-color:inherit;
}
.pvtColLabel.pvtSortable, .pvtRowLabel.pvtSortable, .pvtTotalColSortable, .pvtTotalRowSortable {
	cursor:pointer;


}
	.pvtColLabel.pvtSortable.pvtSortDesc::after, .pvtTotalRowSortable.pvtSortDesc::after  {
		content:" ↓";
	}
	.pvtColLabel.pvtSortable.pvtSortAsc::after, .pvtTotalRowSortable.pvtSortAsc::after {
		content:" ↑";
	}
	.pvtRowLabel.pvtSortable.pvtSortDesc::after, .pvtTotalColSortable.pvtSortDesc::after  {
		content:" →";
	}
	.pvtRowLabel.pvtSortable.pvtSortAsc::after, .pvtTotalColSortable.pvtSortAsc::after {
		content:" ←";
	}