<template>
	<div class="slds-p-top_medium">
		<lightning-card title="Contact Details" icon-name="standard:contact">
			<lightning-button
				class="slds-p-right_small"
				variant="brand"
				label="Select Contact"
				slot="actions"
				onclick={selectContact}
			></lightning-button>
			<lightning-button
				label="New Contact"
				slot="actions"
				onclick={newContact}
			></lightning-button>

			<!-- CONTACT COMBOBOX -->
			<template if:true={openSelectionModal}>
				<c-order-entry-select-contact
					contacts={contacts}
					onclosemodal={closeModal}
				></c-order-entry-select-contact>
			</template>
			<!-- NEW CONTACT MODAL -->
			<template if:true={openModal}>
				<c-order-entry-new-contact
					state={state}
					onclosemodal={closeModal}
				></c-order-entry-new-contact>
			</template>

			<!-- CONTACT FORM -->
			<template if:true={primaryContact}>
				<div
					class="
						slds-grid slds-gutters
						slds-p-top_medium
						slds-p-left_medium
						slds-p-right_medium
					"
				>
					<div class="slds-col">
						<lightning-input
							type="text"
							name="FirstName"
							label="First Name"
							value={primaryContact.FirstName}
							onchange={handleFormInputChange}
						></lightning-input>
					</div>
					<div class="slds-col">
						<lightning-input
							type="text"
							required="true"
							name="LastName"
							label="Last Name"
							value={primaryContact.LastName}
							onchange={handleFormInputChange}
						></lightning-input>
					</div>
				</div>
				<div
					class="
						slds-grid slds-gutters
						slds-p-top_medium
						slds-p-left_medium
						slds-p-right_medium
					"
				>
					<div class="slds-col">
						<lightning-input
							type="tel"
							name="MobilePhone"
							label="Mobile"
							value={primaryContact.MobilePhone}
							onchange={handleFormInputChange}
						></lightning-input>
					</div>
					<div class="slds-col">
						<lightning-input
							type="tel"
							name="Phone"
							label="Phone"
							value={primaryContact.Phone}
							onchange={handleFormInputChange}
						></lightning-input>
					</div>
				</div>
				<div
					class="
						slds-grid slds-gutters
						slds-p-top_medium
						slds-p-left_medium
						slds-p-right_medium
					"
				>
					<div class="slds-col">
						<lightning-input
							type="email"
							name="Email"
							label="Email"
							value={primaryContact.Email}
							onchange={handleFormInputChange}
						></lightning-input>
					</div>
				</div>
			</template>
		</lightning-card>
	</div>
</template>