<template>
    <div class="picklist-container">
        <lightning-combobox name="picklist" label={label} value={value} placeholder={placeholder} options={options}
            onchange={handleChange} class="picklist-container"></lightning-combobox>
    </div>
</template>