<template>
	<template if:false={contractCreated.data}>
		<div class="slds-text-align_center, slds-text-color_error">
			Please make sure you have a Basket with the status 'Contract Created' or 'Approved'
		</div>
	</template>
	<template if:true={contractCreated.data}>
		<table>
			<tr>
				<td>
					<template if:true={theOpp.data}>
						<lightning-button
							label="Download CSV"
							title="Non-primary action"
							onclick={exportToCSV}
							class="slds-m-left_x-small"
						></lightning-button>
						<lightning-button
							label="Create Numberlist"
							title="Non-primary action"
							onclick={createNumberList}
							class="slds-m-left_x-small"
						></lightning-button>
						<lightning-icon
							icon-name="utility:warning"
							alternative-text="Warning!"
							title="Please make sure you generate a Contract before creating the Numberlist"
							size="x-small"
						></lightning-icon>
						<template if:true={theOpp.data}>
							<div class="slds-m-around_medium">
								<lightning-combobox
									width="100"
									name="csvSeparator"
									label="Select a separator for your CSV File (Download and Upload)"
									value={value}
									placeholder=";"
									onchange={handleSeparatorChange}
									options={options}
									class="customWidth"
								></lightning-combobox>
								<lightning-input
									type="file"
									accept=".csv"
									label="Import changes via CSV"
									onchange={importCSV}
								></lightning-input>
								<template if:true={fileData}>
									<p>{fileData.filename}</p>
								</template>
								<lightning-button
									variant="brand"
									label="Submit"
									title="Submit"
									onclick={saveCSV}
									class="slds-m-left_x-small"
								></lightning-button>
							</div>
						</template>
					</template>
				</td>
				<td>
					<template if:true={theOpp.data}>
						<div class="demo-only" style="width: 30rem">
							<article class="slds-tile">
								<h3 class="slds-truncate" title="Salesforce UX">
									General Information
								</h3>
								<div class="slds-tile__detail">
									<dl class="slds-list_horizontal slds-wrap">
										<dt
											class="slds-item_label slds-text-color_weak slds-truncate"
										>
											Customer:
										</dt>
										<dd class="slds-item_detail slds-truncate">
											{theOpp.data.Account.Name}
										</dd>
										<!--dt class="slds-item_label slds-text-color_weak slds-truncate">Date:</dt>
                                        <dd class="slds-item_detail slds-truncate">{mobileCTNWrapper.data.theDate}</dd-->
										<dt
											class="slds-item_label slds-text-color_weak slds-truncate"
										>
											Account Manager:
										</dt>
										<dd class="slds-item_detail slds-truncate">
											{theOpp.data.Owner.Name}
										</dd>
										<dt
											class="slds-item_label slds-text-color_weak slds-truncate"
										>
											Contact Person:
										</dt>
										<dd class="slds-item_detail slds-truncate">
											<template if:true={theOpp.data.Main_Contact_Person__r}
												>{theOpp.data.Main_Contact_Person__r.Name}</template
											>
										</dd>
										<dt
											class="slds-item_label slds-text-color_weak slds-truncate"
										>
											Authorized to Sign:
										</dt>
										<dd class="slds-item_detail slds-truncate">
											<template
												if:true={theOpp.data.DS_Authorized_to_sign_1st__r}
												>{theOpp.data.DS_Authorized_to_sign_1st__r.Name}</template
											>
										</dd>
										<dt
											class="slds-item_label slds-text-color_weak slds-truncate"
										>
											Billing Customer:
										</dt>
										<dd class="slds-item_detail slds-truncate">
											<template if:true={theOpp.data.Ban__r}
												>{theOpp.data.Ban__r.Ban_Number__c}</template
											>
										</dd>
										<!--dt class="slds-item_label slds-text-color_weak">Number List Complete:</dt>
                                        <dd class="slds-item_detail"><lightning-input type="checkbox" checked={mobileCTNWrapper.data.numberlistComplete} disabled></lightning-input></dd-->
									</dl>
								</div>
							</article>
						</div>
					</template>
				</td>
				<td>
					<template if:true={quoteProfiles}>
						Quote Profile<br />
						<ul>
							<template for:each={quoteProfiles} for:item="quoteProfile">
								<li key={quoteProfile}>{quoteProfile}</li>
							</template>
						</ul>
					</template>
				</td>
			</tr>
		</table>
		<template if:true={netProfitCtns}>
			<c-custom-data-table
				key-field="Id"
				data={netProfitCtns}
				columns={columns}
				onsave={doSave}
				sorted-by={sortedBy}
				sorted-direction={sortedDirection}
				onsort={updateColumnSorting}
				min-column-width="250"
				hide-checkbox-column
				draft-values={draftValues}
				onpicklistchanged={picklistChanged}
				onvalueselect={handleSelection}
				oncellchange={handleCellChange}
			>
			</c-custom-data-table>
		</template>
	</template>
</template>