.slds-box {
	/*width: 75%;*/
	/*padding-left: 50px;*/
	padding-right: 50px;
	/*margin: 50px;*/
}

.spinnerContainer {
	z-index: 9000 !important;
	position: relative;
	display: inline-block;
	width: 85px;
	height: 85px;
}

.oppty-summary {
	width: 50%;
	margin-bottom: 10px;
}

.oppty-summary .summary-header,
.oppty-summary .summary-body {
	font-size: 80%;
}
.oppty-summary .summary-header {
	font-weight: bold;
}

.pillSize {
	width: 100%;
}

lightning-radio-group .slds-radio_faux {
	margin-right: 10px;
}

.slds-modal__content {
	/*overflow: initial;*/
	max-width: 60rem;
	width: 100%;
}
.fieldSize{
	width: 200%;
	margin-bottom: 23%;
	margin-top: -15%;

}
.fieldSizeEdit{
	width: 140%;
	margin-top: -15%;
}
.footerSizeEdit{
	width: 140%;
}