<template>
	<div class="slds-box">
		<template if:true={showMainMenu}>
			<div class="slds-grid slds-gutters" data-tag="mainmenu">
				<div class="slds-col slds-m-left_small">
					<section class="oppty-page-header">
						<div class="slds-grid">
							<div class="slds-col slds-grow-none">
								<lightning-icon
									icon-name="standard:opportunity"
									alternative-text={labels.opportunity}
									title={labels.opportunity}
								></lightning-icon>
							</div>
							<div class="slds-col slds-grow-none">
								<h1>{labels.opportunity}</h1>
								<template if:true={opptyLoaded}>
									<h2>{opptyAccount.Name} | {opportunity.Name}</h2>
								</template>
							</div>
						</div>
					</section>
				</div>
				<section class="oppty-summary">
					<div class="slds-col slds-m-right_small">
						<div class="slds-grid slds-wrap slds-text-body_small">
							<section class="slds-col slds-size--1-of-8 summary-header">
								{labels.costBreakdown}
							</section>
							<section class="slds-col slds-size--7-of-8 summary-body">
								<lightning-datatable
									data={opptySummary}
									columns={opptyColumns}
									key-field="Id"
									hide-checkbox-column="true"
									resize-column-disabled="true"
								></lightning-datatable>
							</section>
						</div>
					</div>
				</section>
			</div>
			<lightning-button
				icon-name="utility:download"
				label={labels.csv}
				title={labels.csv}
				onclick={downloadCSVFile}
				variant="brand"
				class="slds-m-left_x-small"
			>
			</lightning-button>
			<lightning-button
				icon-name="utility:new"
				variant="brand"
				label={labels.new}
				title={labels.new}
				disabled={isNewButton}
				onclick={newProduct}
				class="slds-m-left_x-small"
			>
			</lightning-button>
			<lightning-button
				label="Mass Edit"
				icon-name="utility:edit"
				disabled={isMassEdit}
				variant="brand"
				onclick={massActions}
				class="slds-m-left_x-small"
			>
			</lightning-button>
			<lightning-button
				label={labels.delete}
				icon-name="utility:delete"
				disabled={isMassDelete}
				variant="destructive"
				onclick={deleteDataProd}
				class="slds-m-left_x-small"
			>
			</lightning-button>
			<lightning-button
				label={labels.clone}
				icon-name="utility:copy"
				disabled={isMassClone}
				variant="brand"
				onclick={cloneData}
				class="slds-m-left_x-small"
			>
			</lightning-button>
			<lightning-button
				icon-name="standard:product_item"
				variant="brand"
				label={labels.installedBase}
				title={installedBaseSelectLabel}
				onclick={toggleShowInstalledBase}
				class="slds-m-left_x-small"
			></lightning-button>
			<lightning-button
				icon-name="standard:opportunity"
				variant="brand"
				label={returnToOpptyLabel}
				onclick={navigateToViewOpportunityPage}
				style="margin-left: 20%"
			>
			</lightning-button>
			<fieldset class="slds-form-element slds-form-element_compound">
				<div class="slds-form-element__control">
					<div class="slds-form-element__row">
						<div class="slds-size_1-of-3">
							<div class="slds-form-element">
								<lightning-input
									type="text"
									name="product"
									label={labels.product}
									placeholder={filterOnProductLabel}
									value={prodSearch}
									onchange={filterProducts}
								></lightning-input>
							</div>
						</div>
						<div class="slds-size_1-of-3">
							<div class="slds-form-element">
								<lightning-input
									type="text"
									name="site"
									label={labels.site}
									placeholder={filterOnSiteLabel}
									value={siteSearch}
									onchange={filterProducts}
								></lightning-input>
							</div>
						</div>
						<div class="slds-size_1-of-3">
							<!--  <div class="slds-form-element">
                                <lightning-input
                                    type="text"
                                    name="activityType"
                                    label={labels.activityType}
                                    placeholder={filterOnActivityTypeLabel}
                                    value={activityTypeSearch}
                                    onchange={filterProducts}
                                ></lightning-input>
                            </div> -->
							<div class="slds-form-element">
								<lightning-combobox
									name="activityType"
									label={labels.activityType}
									value={activityTypeSearch}
									placeholder="Select Activity Type"
									options={activitySearchOptions}
									onchange={filterProducts}
								>
								</lightning-combobox>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<template if:false={isLoading}>
				<c-custom-lightning-datatable
					data={shownProducts}
					columns={columns}
					key-field="id"
					onrowaction={handleRowAction}
					onsave={handleSave}
					draft-values={draftValues}
					errors={errors}
					onpicklistchanged={picklistChangeListener.processChange}
					onrowselection={getSelectedRecords}
					sorted-by={sortBy}
					sorted-direction={sortDirection}
					onsort={handleSortdata}
					selected-rows={visibleSelectedRows}
				>
				</c-custom-lightning-datatable>
				<div class="slds-m-around_medium">
					<p class="slds-m-vertical_medium content">
						Displaying {startingRecord} to {endingRecord} of {totalRecountCount}
						records. Page {page} of {totalPage}.
					</p>
					<c-paginator onprevious={previousHandler} onnext={nextHandler}></c-paginator>
				</div>
			</template>
			<template if:true={isLoading}>
				<div class="spinnerContainer">
					<lightning-spinner
						alternative-text={labels.spinnerLoading}
						size="large"
						variant="brand"
					></lightning-spinner>
				</div>
			</template>
		</template>
		<template if:true={showInstalledBase}>
			<c-installed-base-table-lwc
				opportunityrecordid={recordId}
				oncallinstalledbasetablelwc={installbaseListener.installbaseLineItemsCreated}
			></c-installed-base-table-lwc>
		</template>
	</div>

	<!-- Our modal with record Price Change form - Start -->
	<template if:true={isPriceModalOpen}>
		<!-- Modal/Popup Box LWC starts here -->
		<section
			role="dialog"
			tabindex="-1"
			aria-labelledby="modal-heading-01"
			aria-modal="true"
			aria-describedby="modal-content-id-1"
			class="slds-modal slds-fade-in-open"
		>
			<div class="slds-modal__container">
				<div class="spinner">
					<template if:true={isLoading}>
						<lightning-spinner
							alternative-text={labels.spinnerLoading}
							variant="brand"
							size="large"
						>
						</lightning-spinner>
					</template>
				</div>
				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button
						class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
						title={labels.close}
						onclick={closeModal}
					>
						<lightning-icon
							icon-name="utility:close"
							alternative-text={labels.close}
							variant="inverse"
							size="small"
						></lightning-icon>
						<span class="slds-assistive-text">{labels.close}</span>
					</button>
					<h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">
						{labels.priceChange}
					</h2>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
					<div class="slds-grid slds-gutters">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="text"
								label={labels.allocationCode}
								value={selectedRow.costCenter}
								onchange={changeValues}
								name="Allocation Code"
							>
							</lightning-input>
						</div>

						<div class="slds-col slds-size_1-of-2">
							<lightning-combobox
								name="CLC"
								label={labels.CLC}
								value={selectedRow.clc}
								placeholder="Select CLC"
								options={clcForPCOptions}
								onchange={changeValues}
							>
							</lightning-combobox>
						</div>
					</div>
					<div class="slds-grid slds-gutters">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="text"
								label={labels.PONumber}
								value={selectedRow.poNumber}
								onchange={changeValues}
								name="PO Number"
							>
							</lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<label class="slds-form-element__label" style="margin-right: 0.5rem">
								<span>{labels.InvoiceStartDate}</span>
								<span class="required">*</span>
							</label>
							<lightning-helptext content="Invoice (Start) Date"></lightning-helptext>
							<lightning-input
								type="date"
								label="Invoice Start Date"
								value={selectedRow.invoiceDate}
								onchange={changeValues}
								name="Invoice Start Date"
								variant="label-hidden"
								required
							>
							</lightning-input>
						</div>
					</div>

					<div class="slds-grid slds-gutters">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="currency"
								label={labels.price}
								value={selectedRow.listprice}
								onchange={changeValues}
								name="Price"
								required
							>
							</lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2" style="margin-top: 2.5%">
							<lightning-input
								type="checkbox"
								label={labels.unifyInvoice}
								value={selectedRow.billing}
								checked={selectedRow.billing}
								onchange={changeValues}
								name="No Unify Invoice"
							>
							</lightning-input>
						</div>
					</div>

					<div class="slds-grid slds-gutters">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="number"
								label={labels.contractPeriod}
								value={selectedRow.duration}
								onchange={changeValues}
								name="Contract Period"
								required
							>
							</lightning-input>
						</div>

						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="percent"
								label={labels.discount}
								value={selectedRow.discount}
								onchange={changeValues}
								name="Discount(%)"
								required
							>
							</lightning-input>
						</div>
					</div>
				</div>
				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer">
					<button
						class="slds-button slds-button_neutral"
						onclick={closeModal}
						title="Cancel"
					>
						{labels.cancel}
					</button>
					<button
						class="slds-button slds-button_brand"
						onclick={handleSavePriceChange}
						title="OK"
					>
						OK
					</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
	<!-- Our modal with record Price Change form - End -->
	<!-- Our modal with record Ceases form - Start -->
	<template if:true={isCeasesModalOpen}>
		<!-- Modal/Popup Box LWC starts here -->
		<section
			role="dialog"
			tabindex="-1"
			aria-labelledby="modal-heading-01"
			aria-modal="true"
			aria-describedby="modal-content-id-1"
			class="slds-modal slds-fade-in-open"
		>
			<div class="slds-modal__container">
				<div class="spinner">
					<template if:true={isLoading}>
						<lightning-spinner alternative-text="Loading" variant="brand" size="large">
						</lightning-spinner>
					</template>
				</div>
				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button
						class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
						title="Close"
						onclick={closeModal}
					>
						<lightning-icon
							icon-name="utility:close"
							alternative-text="close"
							variant="inverse"
							size="small"
						></lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate">
						{labels.ceases}
					</h2>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
					<div class="slds-grid slds-gutters">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="date"
								label={labels.administrativeEndDate}
								value={selectedRow.administrativeEndDate}
								onchange={changeValues}
								name="Administrative End Date"
								required
							>
							</lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2" style="margin-top: 2.5%">
							<lightning-input
								type="checkbox"
								label="Do not return HW"
								value={selectedRow.doNotReturnHW}
								checked={selectedRow.doNotReturnHW}
								onchange={changeValues}
								name="Do no return HW"
							>
							</lightning-input>
						</div>
					</div>

					<div class="slds-grid slds-gutters">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="date"
								label={labels.contractualEndDate}
								value={selectedRow.contractEndDate}
								onchange={changeValues}
								name="Contractual End Date"
								required
							>
							</lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2" style="margin-top: 2.5%">
							<lightning-input
								type="checkbox"
								label={labels.unifyInvoice}
								value={selectedRow.billing}
								checked={selectedRow.billing}
								onchange={changeValues}
								name="No Unify Invoice"
							>
							</lightning-input>
						</div>
					</div>

					<div class="slds-grid slds-gutters">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="text"
								label={labels.quantity}
								value={selectedRow.customerAssetQuantity}
								name="customerAssetQuantity"
								disabled="true"
							>
							</lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="number"
								label={labels.quantitytoTerminate}
								value={selectedRow.quantity}
								onchange={changeValues}
								name="Quantity"
								required
							>
							</lightning-input>
						</div>
					</div>
				</div>
				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer">
					<button
						class="slds-button slds-button_neutral"
						onclick={closeModal}
						title="Cancel"
					>
						{labels.cancel}
					</button>
					<button
						class="slds-button slds-button_brand"
						onclick={handleSavePriceChange}
						title="OK"
					>
						{labels.OK}
					</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
	<!-- Our modal with record Ceases form - End -->
	<!-- Our modal with delete record  form-Start  -->
	<template if:true={isDeleteModal}>
		<!-- Modal/Popup Box LWC starts here -->
		<section
			role="dialog"
			tabindex="-1"
			aria-labelledby="modal-heading-05"
			aria-modal="true"
			aria-describedby="modal-content-id-5"
			class="slds-modal slds-fade-in-open"
		>
			<div class="slds-modal__container">
				<div class="spinner">
					<template if:true={isLoading}>
						<lightning-spinner alternative-text="Loading" variant="brand" size="large">
						</lightning-spinner>
					</template>
				</div>
				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button
						class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
						title="Close"
						onclick={closeModal}
					>
						<lightning-icon
							icon-name="utility:close"
							alternative-text="close"
							variant="inverse"
							size="small"
						></lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-06" class="slds-text-heading_medium slds-hyphenate">
						{labels.deleterecord}
					</h2>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-6">
					<h2 id="modal-heading-07" class="slds-text-heading_medium slds-hyphenate">
						{labels.deleteMessage}
					</h2>
				</div>

				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer">
					<button
						class="slds-button slds-button_neutral"
						onclick={closeModal}
						title="Cancel"
					>
						{labels.cancel}
					</button>
					<button
						class="slds-button slds-button_brand"
						onclick={deleteData}
						title="Delete"
					>
						{labels.delete}
					</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
	<!-- Our modal with delete record  form-End  -->
	<!-- Our modal with record edit form-Start -->
	<template if:true={isModalOpen}>
		<!-- Modal/Popup Box LWC starts here -->
		<section
			role="dialog"
			tabindex="-1"
			aria-labelledby="modal-heading-01"
			aria-modal="true"
			aria-describedby="modal-content-id-1"
			class="slds-modal slds-fade-in-open"
		>
			<div class="slds-modal__container">
				<div class="spinner">
					<template if:true={isLoading}>
						<lightning-spinner alternative-text="Loading" variant="brand" size="large">
						</lightning-spinner>
					</template>
				</div>
				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button
						class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
						title="Close"
						onclick={closeModal}
					>
						<lightning-icon
							icon-name="utility:close"
							alternative-text="close"
							variant="inverse"
							size="small"
						></lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
						{labels.editRecord}
					</h2>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<lightning-combobox
						name="CLC"
						label={labels.CLC}
						value={selectedRow.clc}
						placeholder="Select CLC"
						options={clcOptions}
						onchange={changeValues}
						disabled={isEditMode}
					>
					</lightning-combobox>
					<!-- product lookup start -->
					<template if:false={isEditMode}>
						<div>
							<div class="slds-form-element">
								<div class="slds-form-element__control">
									<div class="slds-combobox_container">
										<div
											id="box"
											class={boxClass}
											aria-expanded="true"
											aria-haspopup="listbox"
											role="combobox"
										>
											<div
												class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
												role="none"
											>
												<template if:true={isValueSelected}>
													<span class="slds-truncate"
														>{labels.product}</span
													>
													<div
														id="lookup-pill"
														class="slds-pill-container"
													>
														<lightning-pill
															class="pillSize"
															label={selectedName}
															name={selectedName}
															onremove={handleRemovePill}
															href={href}
														>
															<lightning-icon
																icon-name={iconName}
																alternative-text="acc"
															></lightning-icon>
														</lightning-pill>
													</div>
												</template>
												<template if:false={isValueSelected}>
													<span class="slds-truncate">Product</span>
													<div class="slds-p-top_none">
														<lightning-input
															label="Product"
															class={inputClass}
															type="search"
															id="input"
															value={searchTerm}
															onclick={handleClick}
															onblur={onBlur}
															onchange={onChange}
															variant="label-hidden"
															autocomplete="off"
															placeholder={searchPlaceholder}
															required
														>
														</lightning-input>
													</div>
												</template>
											</div>
											<div
												id="listbox-id-1"
												class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid"
												role="listbox"
											>
												<ul
													class="slds-listbox slds-listbox_vertical"
													role="presentation"
												>
													<template for:each={records} for:item="record">
														<li
															key={record.Id}
															onclick={onSelect}
															data-id={record.Id}
															role="presentation"
															data-name={record.Product_Display_Name__c}
														>
															<span
																class="slds-lookup__item-action slds-lookup__item-action--label"
																role="option"
															>
																<lightning-icon
																	class="slds-icon slds-icon--small slds-icon-text-default"
																	icon-name={iconName}
																	alternative-text={objName}
																	size="small"
																></lightning-icon>
																<!-- <span class="slds-truncate">{record.ProductCode__c} - {record.Brand__c} {record.Name} - {record.Quantity_type__c}</span> -->
																<span class="slds-truncate"
																	>{record.Product_Display_Name__c}</span
																>
															</span>
														</li>
													</template>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</template>
					<template if:true={isEditMode}>
						<lightning-input
							type="text"
							label={labels.product}
							value={selectedRow.productLabel}
							name="product"
							disabled={isEditMode}
						>
						</lightning-input>
					</template>
					<!-- product lookup End -->

					<lightning-combobox
						name="Site"
						label={labels.site}
						value={selectedRow.site}
						placeholder="Select Site"
						options={siteOptions}
						onchange={changeValues}
						disabled={isEditMode}
					>
					</lightning-combobox>

					<lightning-input
						type="text"
						label={labels.group}
						value={selectedRow.grp}
						onchange={changeValues}
						name="Group"
						disabled={isEditMode}
					>
					</lightning-input>
					<template if:true={isEditMode}>
						<lightning-input
							type="text"
							label={labels.quantity}
							value={selectedRow.customerAssetQuantity}
							name="customerAssetQuantity"
							disabled={isEditMode}
						>
						</lightning-input>

						<lightning-input
							type="number"
							label="Quantity to Add"
							value={selectedRow.quantity}
							onchange={changeValues}
							name="Quantity"
							required
						>
						</lightning-input>
					</template>
					<template if:false={isEditMode}>
						<lightning-input
							type="number"
							label={labels.quantity}
							value={selectedRow.quantity}
							onchange={changeValues}
							name="Quantity"
							required
						>
						</lightning-input>
					</template>
					<lightning-input
						type="currency"
						label={labels.price}
						value={selectedRow.listprice}
						onchange={changeValues}
						name="Price"
						disabled={isEditMode}
						required
					>
					</lightning-input>
					<lightning-input
						type="percent"
						label={labels.discount}
						value={selectedRow.discount}
						onchange={changeValues}
						name="Discount(%)"
						disabled={isEditMode}
						required
					>
					</lightning-input>
					<lightning-input
						type="number"
						label={labels.duration}
						value={selectedRow.duration}
						onchange={changeValues}
						name="Contract Period"
						disabled={isEditMode}
						required
					>
					</lightning-input>
					<lightning-input
						type="text"
						label={labels.costCenter}
						value={selectedRow.costCenter}
						onchange={changeValues}
						name="Allocation Code"
						disabled={isEditMode}
					>
					</lightning-input>
					<lightning-input
						type="checkbox"
						label={labels.unifyInvoice}
						value={selectedRow.billing}
						checked={selectedRow.billing}
						onchange={changeValues}
						name="Billing"
						disabled={isEditMode}
					>
					</lightning-input>
				</div>

				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer">
					<button
						class="slds-button slds-button_neutral"
						onclick={closeModal}
						title="Cancel"
					>
						{labels.cancel}
					</button>
					<button
						class="slds-button slds-button_brand"
						onclick={submitDetails}
						title="Update"
					>
						{labels.update}
					</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>

	<!-- Our modal with record edit form-End -->
	<!-- Our modal with New record  form-Start -->
	<template if:true={isNewModalOpen}>
		<!-- Modal/Popup Box LWC starts here -->
		<section
			role="dialog"
			tabindex="-1"
			aria-labelledby="modal-heading-05"
			aria-modal="true"
			aria-describedby="modal-content-id-5"
			class="slds-modal slds-fade-in-open"
		>
			<div class="slds-modal__container">
				<div class="spinner">
					<template if:true={isLoading}>
						<lightning-spinner alternative-text="Loading" variant="brand" size="large">
						</lightning-spinner>
					</template>
				</div>
				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button
						class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
						title="Close"
						onclick={closeModal}
					>
						<lightning-icon
							icon-name="utility:close"
							alternative-text="close"
							variant="inverse"
							size="small"
						></lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-05" class="slds-text-heading_medium slds-hyphenate">
						Create new entry
					</h2>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-5">
					<lightning-combobox
						name="NewCLC"
						label="CLC"
						value={opportunityProdRecord.clc}
						placeholder="Select CLC"
						options={clcForNewOptions}
						onchange={changeValues}
					>
					</lightning-combobox>
					<!-- product lookup start -->
					<div>
						<div class="slds-form-element">
							<div class="slds-form-element__control">
								<div class="slds-combobox_container">
									<div
										id="box1"
										class={boxClass}
										aria-expanded="true"
										aria-haspopup="listbox"
										role="combobox"
									>
										<div
											class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
											role="none"
										>
											<template if:true={isValueSelected}>
												<abbr title="required" class="slds-required"
													>*</abbr
												>
												<span class="slds-truncate">Product</span>
												<div id="lookup-pill1" class="slds-pill-container">
													<lightning-pill
														class="pillSize"
														label={selectedName}
														name={selectedName}
														onremove={handleRemovePill}
														href={href}
													>
														<lightning-icon
															icon-name={iconName}
															alternative-text="acc"
														></lightning-icon>
													</lightning-pill>
												</div>
											</template>
											<template if:false={isValueSelected}>
												<abbr title="required" class="slds-required"
													>*</abbr
												>
												<span class="slds-truncate">Product</span>
												<div class="slds-p-top_none">
													<lightning-input
														label="Product"
														class={inputClass}
														type="search"
														id="input1"
														value={searchTerm}
														onclick={handleClick}
														onblur={onBlur}
														onchange={onChange}
														variant="label-hidden"
														autocomplete="off"
														placeholder={searchPlaceholder}
														required
													>
													</lightning-input>
												</div>
											</template>
										</div>
										<div
											id="listbox-id-2"
											class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid"
											role="listbox"
										>
											<ul
												class="slds-listbox slds-listbox_vertical"
												role="presentation"
											>
												<template for:each={records} for:item="record">
													<li
														key={record.Id}
														onclick={onSelect}
														data-id={record.Id}
														role="presentation"
														data-name={record.Product_Display_Name__c}
													>
														<span
															class="slds-lookup__item-action slds-lookup__item-action--label"
															role="option"
														>
															<lightning-icon
																class="slds-icon slds-icon--small slds-icon-text-default"
																icon-name={iconName}
																alternative-text={objName}
																size="small"
															></lightning-icon>
															<!-- <span class="slds-truncate">{record.ProductCode__c} - {record.Brand__c} {record.Name} - {record.Quantity_type__c}</span> -->
															<span class="slds-truncate"
																>{record.Product_Display_Name__c}</span
															>
														</span>
													</li>
												</template>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- product lookup End -->

					<lightning-combobox
						name="NewSite"
						label="Site(s)"
						value={opportunityProdRecord.site}
						placeholder="Select Site"
						options={siteOptions}
						onchange={changeValues}
						required
					>
					</lightning-combobox>

					<lightning-input
						type="number"
						label="Quantity"
						value={opportunityProdRecord.quantity}
						onchange={changeValues}
						name="NewQuantity"
						required
					>
					</lightning-input>
					<lightning-input
						type="currency"
						label="Price"
						value={opportunityProdRecord.listprice}
						onchange={changeValues}
						name="NewPrice"
						required
					>
					</lightning-input>
					<lightning-input
						type="percent"
						label="Discount(%)"
						value={opportunityProdRecord.discount}
						onchange={changeValues}
						name="NewDiscount"
						required
					>
					</lightning-input>
					<lightning-input
						type="number"
						label="Duration"
						value={opportunityProdRecord.duration}
						onchange={changeValues}
						name="NewContractPeriod"
						required
					>
					</lightning-input>
					<lightning-input
						type="text"
						label="Cost Center"
						value={opportunityProdRecord.costCenter}
						onchange={changeValues}
						name="NewAllocationCode"
					>
					</lightning-input>
					<lightning-input
						type="checkbox"
						label="Unify Invoice"
						value={opportunityProdRecord.billing}
						checked={}
						onchange={changeValues}
						name="NewBilling"
					>
					</lightning-input>
				</div>

				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer">
					<button
						class="slds-button slds-button_neutral"
						onclick={closeModal}
						title="Cancel"
					>
						Cancel
					</button>
					<button
						class="slds-button slds-button_brand"
						onclick={CreateData}
						title="Create"
					>
						Create
					</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>

	<!-- Our modal with New record  form-End -->
	<!-- Our modal with mass delete record  form-Start -->
	<template if:true={isMassDeleteModal}>
		<!-- Modal/Popup Box LWC starts here -->
		<section
			role="dialog"
			tabindex="-1"
			aria-labelledby="modal-heading-05"
			aria-modal="true"
			aria-describedby="modal-content-id-5"
			class="slds-modal slds-fade-in-open"
		>
			<div class="slds-modal__container">
				<div class="spinner">
					<template if:true={isLoading}>
						<lightning-spinner alternative-text="Loading" variant="brand" size="large">
						</lightning-spinner>
					</template>
				</div>
				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button
						class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
						title="Close"
						onclick={closeModal}
					>
						<lightning-icon
							icon-name="utility:close"
							alternative-text="close"
							variant="inverse"
							size="small"
						></lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-08" class="slds-text-heading_medium slds-hyphenate">
						Delete record
					</h2>
				</header>

				<template if:true={isSingle}>
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-10">
						<h2 id="modal-heading-10" class="slds-text-heading_medium slds-hyphenate">
							Are you sure you wish to remove this record?
						</h2>
					</div>
				</template>
				<template if:false={isSingle}>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-8">
						<h2 id="modal-heading-09" class="slds-text-heading_medium slds-hyphenate">
							Are you sure you wish to delete {recordsCount} rows?
						</h2>
					</div>
				</template>
				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer">
					<button
						class="slds-button slds-button_neutral"
						onclick={closeModal}
						title="Cancel"
					>
						Cancel
					</button>
					<button
						class="slds-button slds-button_brand"
						onclick={deleteOLI}
						title="Delete"
					>
						Delete
					</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
	<!-- Our modal with Mass delete record  form-End -->
	<!-- Our modal with record Mass Edit & Cease form-Start -->
	<template if:true={isMassEditModal}>
		<!-- Modal/Popup Box LWC starts here -->
		<section
			role="dialog"
			tabindex="-1"
			aria-labelledby="modal-heading-01"
			aria-modal="true"
			aria-describedby="modal-content-id-1"
			class="slds-modal slds-fade-in-open"
		>
			<div class="slds-modal__container">
				<div class="slds-modal__content slds-p-around_xx-large">
					<lightning-tabset>
						<template if:true={isSingleCease}>
							<lightning-tab
								label="Mass Cease"
								title="Mass Cease.."
								style="margin-right: 30%"
							>
								<template if:true={isMassCease}>
									<div class="slds-modal__container">
										<div class="spinner">
											<template if:true={isLoading}>
												<lightning-spinner
													alternative-text={labels.spinnerLoading}
													variant="brand"
													size="large"
												>
												</lightning-spinner>
											</template>
										</div>
										<!-- Modal/Popup Box LWC header here -->

										<!--    <header class="slds-modal__header">
                                    <button
                                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                        title="Close"
                                        onclick={closeModal}
                                    >
                                        <lightning-icon
                                            icon-name="utility:close"
                                            alternative-text="close"
                                            variant="inverse"
                                            size="small"
                                        ></lightning-icon>
                                        <span class="slds-assistive-text"
                                            >Close</span
                                        >
                                    </button>
                                    <h2
                                        id="modal-heading-011"
                                        class="slds-text-heading_medium slds-hyphenate"
                                    >
                                        Mass Cease
                                    </h2>
                                </header> -->
										<!-- Modal/Popup Box LWC body starts here -->
										<div
											class="slds-modal__content slds-p-around_medium fieldSize"
											id="modal-content-id-011"
										>
											<!--   <lightning-tabset>
                                        <lightning-tab
                                            label="Mass Ceases"
                                            title="Ceases.."
                                        > -->
											<!--  <div class="slds-grid slds-gutters">
                                                <div
                                                    class="slds-col slds-size_1-of-2"
                                                >
                                                    <lightning-input
                                                        type="date"
                                                        label="Administrative End Date"
                                                        value={administrativeEndDate}
                                                        onchange={changeValues}
                                                        name="AdministrativeEndDate"
                                                        required
                                                    >
                                                    </lightning-input>
                                                </div>
                                            </div> -->
											<!-- </lightning-tab> -->
											<!--  <lightning-tab
                                            label="Some other tab"
                                            title="Other tab.."
                                        >-->
											<div class="slds-grid slds-gutters">
												<div class="slds-col slds-size_1-of-2">
													<lightning-input
														type="date"
														label="Administrative End Date"
														value={administrativeEndDate}
														onchange={changeValues}
														name="AdministrativeEndDate"
														required
													>
													</lightning-input>
												</div>
											</div>
											<!--   </lightning-tab>
                                    </lightning-tabset> -->
											<div class="slds-grid slds-gutters">
												<div class="slds-col slds-size_1-of-2">
													<lightning-input
														type="date"
														label="Contractual End Date"
														value={contractEndDate}
														onchange={changeValues}
														name="ContractualEndDate"
														required
													>
													</lightning-input>
												</div>
											</div>
										</div>
										<!-- Modal/Popup Box LWC footer starts here -->
										<footer class="slds-modal__footer">
											<button
												class="slds-button slds-button_neutral"
												onclick={closeModal}
												title="Cancel"
											>
												Cancel
											</button>
											<button
												class="slds-button slds-button_brand"
												onclick={massCeasesActions}
												title="Update"
											>
												Update
											</button>
										</footer>
									</div>
								</template>
								<template if:true={isSingleCeaseMsg}>
									<header class="slds-modal__header">
										<button
											class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
											title="Close"
											onclick={closeModal}
										>
											<lightning-icon
												icon-name="utility:close"
												alternative-text="close"
												variant="inverse"
												size="small"
											></lightning-icon>
											<span class="slds-assistive-text">Close</span>
										</button>
										<h2
											id="modal-heading-014"
											class="slds-text-heading_medium slds-hyphenate"
										>
											You have selected single Cease Product ,Please use
											inline edit action for single record
										</h2>
									</header>
									<footer class="slds-modal__footer">
										<button
											class="slds-button slds-button_neutral"
											onclick={closeModal}
											title="Cancel"
										>
											Cancel
										</button>
									</footer>
								</template>
								<template if:true={isFinalMsgCease}>
									<header class="slds-modal__header">
										<button
											class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
											title="Close"
											onclick={closeModal}
										>
											<lightning-icon
												icon-name="utility:close"
												alternative-text="close"
												variant="inverse"
												size="small"
											></lightning-icon>
											<span class="slds-assistive-text">Close</span>
										</button>
										<h2
											id="modal-heading-015"
											class="slds-text-heading_medium slds-hyphenate"
										>
											Records has been updated successfully,Please click on
											Finish button to go back add/Edit screen
										</h2>
									</header>
									<footer class="slds-modal__footer">
										<button
											class="slds-button slds-button_neutral"
											onclick={closeModal}
											title="Finish"
										>
											Finish
										</button>
									</footer>
								</template>
							</lightning-tab>
						</template>
						<template if:true={isSingleProvide}>
							<lightning-tab
								label="Mass Provide(New)"
								title="Edit.."
								style="margin-right: 30%"
							>
								<template if:true={isMassProvide}>
									<div class="slds-modal__container">
										<div class="spinner">
											<template if:true={isLoading}>
												<lightning-spinner
													alternative-text="Loading"
													variant="brand"
													size="large"
												>
												</lightning-spinner>
											</template>
										</div>
										<!-- Modal/Popup Box LWC header here -->
										<!--  <header class="slds-modal__header">
                                    <button
                                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                        title="Close"
                                        onclick={closeModal}
                                    >
                                        <lightning-icon
                                            icon-name="utility:close"
                                            alternative-text="close"
                                            variant="inverse"
                                            size="small"
                                        ></lightning-icon>
                                        <span class="slds-assistive-text"
                                            >Close</span
                                        >
                                    </button>
                                    <h2
                                        id="modal-heading-012"
                                        class="slds-text-heading_medium slds-hyphenate"
                                    >
                                        Mass Edit
                                    </h2>
                                </header> -->
										<!-- Modal/Popup Box LWC body starts here -->
										<div
											class="slds-modal__content slds-p-around_medium fieldSizeEdit"
											id="modal-content-id-012"
										>
											<lightning-combobox
												name="EditCLC"
												label="CLC"
												value={opportunityEditProdRecord.clc}
												placeholder="Select CLC"
												options={clcForNewOptions}
												onchange={changeValues}
											>
											</lightning-combobox>
											<!-- product lookup start -->
											<div>
												<div class="slds-form-element">
													<div class="slds-form-element__control">
														<div class="slds-combobox_container">
															<div
																id="box12"
																class={boxClass}
																aria-expanded="true"
																aria-haspopup="listbox"
																role="combobox"
															>
																<div
																	class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
																	role="none"
																>
																	<template
																		if:true={isValueSelected}
																	>
																		<abbr
																			title="required"
																			class="slds-required"
																			>*</abbr
																		>
																		<span class="slds-truncate"
																			>Product</span
																		>
																		<div
																			id="lookup-pill12"
																			class="slds-pill-container"
																		>
																			<lightning-pill
																				class="pillSize"
																				label={selectedName}
																				name={selectedName}
																				onremove={handleRemovePill}
																				href={href}
																			>
																				<lightning-icon
																					icon-name={iconName}
																					alternative-text="acc"
																				></lightning-icon>
																			</lightning-pill>
																		</div>
																	</template>
																	<template
																		if:false={isValueSelected}
																	>
																		<abbr
																			title="required"
																			class="slds-required"
																			>*</abbr
																		>
																		<span class="slds-truncate"
																			>Product</span
																		>
																		<div
																			class="slds-p-top_none"
																		>
																			<lightning-input
																				label="Product"
																				class={inputClass}
																				type="search"
																				id="input12"
																				value={searchTerm}
																				onclick={handleClick}
																				onblur={onBlur}
																				onchange={onChange}
																				variant="label-hidden"
																				autocomplete="off"
																				placeholder={searchPlaceholder}
																				required
																			>
																			</lightning-input>
																		</div>
																	</template>
																</div>
																<div
																	id="listbox-id-3"
																	class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid"
																	role="listbox"
																>
																	<ul
																		class="slds-listbox slds-listbox_vertical"
																		role="presentation"
																	>
																		<template
																			for:each={records}
																			for:item="record"
																		>
																			<li
																				key={record.Id}
																				onclick={onSelect}
																				data-id={record.Id}
																				role="presentation"
																				data-name={record.Product_Display_Name__c}
																			>
																				<span
																					class="slds-lookup__item-action slds-lookup__item-action--label"
																					role="option"
																				>
																					<lightning-icon
																						class="slds-icon slds-icon--small slds-icon-text-default"
																						icon-name={iconName}
																						alternative-text={objName}
																						size="small"
																					></lightning-icon>
																					<!-- <span class="slds-truncate">{record.ProductCode__c} - {record.Brand__c} {record.Name} - {record.Quantity_type__c}</span> -->
																					<span
																						class="slds-truncate"
																						>{record.Product_Display_Name__c}</span
																					>
																				</span>
																			</li>
																		</template>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- product lookup End -->

											<lightning-combobox
												name="EditSite"
												label="Site(s)"
												value={opportunityEditProdRecord.site}
												placeholder="Select Site"
												options={siteOptions}
												onchange={changeValues}
												required
											>
											</lightning-combobox>

											<lightning-input
												type="number"
												label="Quantity"
												value={opportunityEditProdRecord.quantity}
												onchange={changeValues}
												name="EditQuantity"
												required
											>
											</lightning-input>
											<lightning-input
												type="currency"
												label="Price"
												value={opportunityEditProdRecord.listprice}
												onchange={changeValues}
												name="EditPrice"
												required
											>
											</lightning-input>
											<lightning-input
												type="percent"
												label="Discount(%)"
												value={opportunityEditProdRecord.discount}
												onchange={changeValues}
												name="EditDiscount"
												required
											>
											</lightning-input>
											<lightning-input
												type="number"
												label="Duration"
												value={opportunityEditProdRecord.duration}
												onchange={changeValues}
												name="EditContractPeriod"
												required
											>
											</lightning-input>
											<lightning-input
												type="text"
												label="Cost Center"
												value={opportunityEditProdRecord.costCenter}
												onchange={changeValues}
												name="EditAllocationCode"
											>
											</lightning-input>
											<lightning-input
												type="checkbox"
												label="Unify Invoice"
												value={opportunityEditProdRecord.billing}
												checked={}
												onchange={changeValues}
												name="EditBilling"
											>
											</lightning-input>
										</div>

										<!-- Modal/Popup Box LWC footer starts here -->
										<footer class="slds-modal__footer footerSizeEdit">
											<button
												class="slds-button slds-button_neutral"
												onclick={closeModal}
												title="Cancel"
											>
												Cancel
											</button>
											<button
												class="slds-button slds-button_brand"
												onclick={massEditData}
												title="Update"
											>
												Update
											</button>
										</footer>
									</div>
								</template>

								<template if:true={isSingleProvideMsg}>
									<header class="slds-modal__header">
										<button
											class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
											title="Close"
											onclick={closeModal}
										>
											<lightning-icon
												icon-name="utility:close"
												alternative-text="close"
												variant="inverse"
												size="small"
											></lightning-icon>
											<span class="slds-assistive-text">Close</span>
										</button>
										<h2
											id="modal-heading-013"
											class="slds-text-heading_medium slds-hyphenate"
										>
											You have selected single Provide Product ,Please use
											inline edit action for single record
										</h2>
									</header>
									<footer class="slds-modal__footer">
										<button
											class="slds-button slds-button_neutral"
											onclick={closeModal}
											title="Cancel"
										>
											Cancel
										</button>
									</footer>
								</template>
								<template if:true={isFinalMsgProvide}>
									<header class="slds-modal__header">
										<button
											class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
											title="Close"
											onclick={closeModal}
										>
											<lightning-icon
												icon-name="utility:close"
												alternative-text="close"
												variant="inverse"
												size="small"
											></lightning-icon>
											<span class="slds-assistive-text">Close</span>
										</button>
										<h2
											id="modal-heading-016"
											class="slds-text-heading_medium slds-hyphenate"
										>
											Records has been updated successfully,Please click on
											Finish button to go back add/Edit screen
										</h2>
									</header>
									<footer class="slds-modal__footer">
										<button
											class="slds-button slds-button_neutral"
											onclick={closeModal}
											title="Finish"
										>
											Finish
										</button>
									</footer>
								</template>
							</lightning-tab>
						</template>
						<!-- Price Change Start -->
						<template if:true={isSinglePriceChange}>
							<lightning-tab
								label="Mass Price Change"
								title="Edit.."
								style="margin-right: 30%"
							>
								<template if:true={isMassPriceChange}>
									<div class="slds-modal__container">
										<div class="spinner">
											<template if:true={isLoading}>
												<lightning-spinner
													alternative-text="Loading"
													variant="brand"
													size="large"
												>
												</lightning-spinner>
											</template>
										</div>

										<!-- Modal/Popup Box LWC body starts here -->
										<div
											class="slds-modal__content slds-p-around_medium fieldSizeEdit"
											id="modal-content-id-015"
										>
											<lightning-combobox
												name="EditPcCLC"
												label="CLC"
												value={opportunityEditPcRecord.clc}
												placeholder="Select CLC"
												options={clcForPCOptions}
												onchange={changeValues}
											>
											</lightning-combobox>

											<lightning-input
												type="text"
												label={labels.PONumber}
												value={opportunityEditPcRecord.poNumber}
												onchange={changeValues}
												name="EditPcPONumber"
											>
											</lightning-input>
											<lightning-input
												type="date"
												label="Invoice Start Date"
												value={opportunityEditPcRecord.invoiceDate}
												onchange={changeValues}
												name="EditPcInvoiceStartDate"
											>
											</lightning-input>
											<lightning-input
												type="currency"
												label="Price"
												value={opportunityEditPcRecord.listprice}
												onchange={changeValues}
												name="EditPcPrice"
											>
											</lightning-input>
											<lightning-input
												type="percent"
												label="Discount(%)"
												value={opportunityEditPcRecord.discount}
												onchange={changeValues}
												name="EditPcDiscount"
											>
											</lightning-input>
											<lightning-input
												type="number"
												label="Duration"
												value={opportunityEditPcRecord.duration}
												onchange={changeValues}
												name="EditPcContractPeriod"
											>
											</lightning-input>
											<lightning-input
												type="text"
												label="Cost Center"
												value={opportunityEditPcRecord.costCenter}
												onchange={changeValues}
												name="EditPcAllocationCode"
											>
											</lightning-input>
											<lightning-input
												type="checkbox"
												label="Unify Invoice"
												value={opportunityEditPcRecord.billing}
												checked={}
												onchange={changeValues}
												name="EditPcBilling"
											>
											</lightning-input>
										</div>

										<!-- Modal/Popup Box LWC footer starts here -->
										<footer class="slds-modal__footer footerSizeEdit">
											<button
												class="slds-button slds-button_neutral"
												onclick={closeModal}
												title="Cancel"
											>
												Cancel
											</button>
											<button
												class="slds-button slds-button_brand"
												onclick={massPriceChangeData}
												title="Update"
											>
												Update
											</button>
										</footer>
									</div>
								</template>

								<template if:true={isSinglePriceChangeMsg}>
									<header class="slds-modal__header">
										<button
											class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
											title="Close"
											onclick={closeModal}
										>
											<lightning-icon
												icon-name="utility:close"
												alternative-text="close"
												variant="inverse"
												size="small"
											></lightning-icon>
											<span class="slds-assistive-text">Close</span>
										</button>
										<h2
											id="modal-heading-017"
											class="slds-text-heading_medium slds-hyphenate"
										>
											You have selected single Price Change Product ,Please
											use inline edit action for single record
										</h2>
									</header>
									<footer class="slds-modal__footer">
										<button
											class="slds-button slds-button_neutral"
											onclick={closeModal}
											title="Cancel"
										>
											Cancel
										</button>
									</footer>
								</template>
								<template if:true={isFinalMsgPriceChange}>
									<header class="slds-modal__header">
										<button
											class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
											title="Close"
											onclick={closeModal}
										>
											<lightning-icon
												icon-name="utility:close"
												alternative-text="close"
												variant="inverse"
												size="small"
											></lightning-icon>
											<span class="slds-assistive-text">Close</span>
										</button>
										<h2
											id="modal-heading-018"
											class="slds-text-heading_medium slds-hyphenate"
										>
											Records has been updated successfully,Please click on
											Finish button to go back add/Edit screen
										</h2>
									</header>
									<footer class="slds-modal__footer">
										<button
											class="slds-button slds-button_neutral"
											onclick={closeModal}
											title="Finish"
										>
											Finish
										</button>
									</footer>
								</template>
							</lightning-tab>
						</template>
						<!-- Price Change End-->
						<!-- Update Activity start -->
						<template if:true={isEditActivity}>
							<lightning-tab
								label="Update Activity Types"
								title="Mass Edit.."
								style="margin-right: 30%"
							>
								<template if:true={isMassEditActivity}>
									<div class="slds-modal__container">
										<div class="spinner">
											<template if:true={isLoading}>
												<lightning-spinner
													alternative-text={labels.spinnerLoading}
													variant="brand"
													size="large"
												>
												</lightning-spinner>
											</template>
										</div>

										<!-- Modal/Popup Box LWC body starts here -->
										<div
											class="slds-modal__content slds-p-around_medium"
											id="modal-content-id-018"
										>
											<div style="margin-bottom: 20%; margin-top: -7%">
												<lightning-combobox
													name="actActivityType"
													label="Activity Type"
													value={massActivityType}
													placeholder="Select Activity Type"
													options={activityOptions}
													onchange={changeActivityValues}
													required
												>
												</lightning-combobox>
											</div>

											<div style="margin-bottom: 32%">
												<lightning-combobox
													name="actCLC"
													label="CLC"
													value={massClc}
													placeholder="Select CLC"
													options={clcForActOptions}
													onchange={changeValues}
													disabled={isClc}
													required
												>
												</lightning-combobox>
											</div>
										</div>
										<!-- Modal/Popup Box LWC footer starts here -->
										<footer class="slds-modal__footer">
											<button
												class="slds-button slds-button_neutral"
												onclick={closeModal}
												title="Cancel"
											>
												Cancel
											</button>
											<button
												class="slds-button slds-button_brand"
												onclick={massActivityActions}
												title="Update"
											>
												Update
											</button>
										</footer>
									</div>
								</template>

								<template if:true={isFinalMsgActivity}>
									<header class="slds-modal__header">
										<button
											class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
											title="Close"
											onclick={closeModal}
										>
											<lightning-icon
												icon-name="utility:close"
												alternative-text="close"
												variant="inverse"
												size="small"
											></lightning-icon>
											<span class="slds-assistive-text">Close</span>
										</button>
										<h2
											id="modal-heading-019"
											class="slds-text-heading_medium slds-hyphenate"
										>
											Records has been updated successfully,Please click on
											Finish button to go back add/Edit screen
										</h2>
									</header>
									<footer class="slds-modal__footer">
										<button
											class="slds-button slds-button_neutral"
											onclick={closeModal}
											title="Finish"
										>
											Finish
										</button>
									</footer>
								</template>
							</lightning-tab>
						</template>

						<!-- Update Activity end -->
					</lightning-tabset>
				</div>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
	<!-- Our modal with record Mass Edit & Cease form-End -->
</template>