<template>
	<div class="slds-grid slds-gutters slds-p-top_large">
		<div class="slds-col slds-size_1-of-4">
			<lightning-vertical-navigation selected-item={activeTab} onselect={handleSelectTab}>
				<lightning-vertical-navigation-section label="Products">
					<lightning-vertical-navigation-item-icon label="Internet" name={INTERNET_PRODUCT_TYPE}
						icon-name="utility:world">
					</lightning-vertical-navigation-item-icon>
					<lightning-vertical-navigation-item-icon label="TV" name={TV_PRODUCT_TYPE} icon-name="utility:screen">
					</lightning-vertical-navigation-item-icon>
					<lightning-vertical-navigation-item-icon label="Telephony" name={TELEPHONY_PRODUCT_TYPE}
						icon-name="utility:call">
					</lightning-vertical-navigation-item-icon>
				</lightning-vertical-navigation-section>
			</lightning-vertical-navigation>
		</div>
		<div class="slds-col slds-size_3-of-4">
			<div data-id="internet-tab" class={isInternet}>
				<c-order-entry-product-internet state={state} products={products} onstatechanged={handleStateChange}>
				</c-order-entry-product-internet>
			</div>
			<div data-id="tv-tab" class={isTv}>
				<c-order-entry-product-tv state={state} products={products} onstatechanged={handleStateChange}>
				</c-order-entry-product-tv>
			</div>
			<div data-id="telephony-tab" class={isTelephony}>
				<c-order-entry-product-telephony state={state} products={products} onstatechanged={handleStateChange}>
				</c-order-entry-product-telephony>
			</div>
		</div>
	</div>
</template>