<apex:page showHeader="true" sidebar="true" controller="ForecastQuotaManager" title="Quota Manager">
	<apex:form >

		<apex:pageBlock title="Manage quotas" id="theBlock">
			<apex:pageMessages />

			<apex:pageBlockSection columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="User" for="oid"></apex:outputLabel>
					<apex:inputField value="{!dummyAccount.OwnerId}" id="oid">
				 		<apex:actionSupport action="{!load}" event="onchange" rerender="theBlock" status="loadstatus" />
					</apex:inputField>
				</apex:pageBlockSectionItem>					
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Product Family" for="pf"></apex:outputLabel>
					<apex:selectList id="pf" value="{!productFamilySelected}" size="1" title="Product Family">
						<apex:selectOptions value="{!productFamilies}"></apex:selectOptions>
				 		<apex:actionSupport action="{!load}" event="onchange" rerender="theBlock" status="loadstatus" />						
					</apex:selectList>
				</apex:pageBlockSectionItem>				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Fiscal Year" for="sd"></apex:outputLabel>				
					<apex:inputText id="sd" value="{!fiscalYear}">
				 		<apex:actionSupport action="{!load}" event="onchange" rerender="theBlock" status="loadstatus" />						
					</apex:inputText>
				</apex:pageBlockSectionItem>				
			</apex:pageBlockSection>
			<apex:commandButton value="Load" action="{!load}" rerender="theBlock" status="loadstatus" />
			<apex:actionStatus id="loadstatus" stopText="">
			    <apex:facet name="start">
			       Loading....<img src="/img/loading.gif"/>
			    </apex:facet> 
			</apex:actionStatus>
			
			<outputPanel id="quotaPanel" >
				<apex:actionRegion >
					<apex:pageBlockTable value="{!Quotas}" var="quota" >
						
						<apex:column headerValue="Product Family" value="{!quota.ProductFamily}" />
						<apex:column headerValue="Year" value="{!quota.year}" />
						<apex:column headerValue="Month" footerValue="Total" value="{!quota.month}" />
						<apex:column >
							<apex:facet name="header">
								<apex:outputPanel >
									<apex:outputLabel value="Revenue " for="revExcel"/>
									<apex:inputText value="{!revenueExcelInput}" id="revExcel">
										<apex:actionSupport action="{!processRevenueExcelValues}" event="onchange" rerender="theBlock" status="loadstatus" />		
									</apex:inputText>
								</apex:outputPanel>
							</apex:facet>
<!--						 	€
						 	<apex:inputField value="{!quota.dqa.Current_fixed_costs_monthly__c}" >
						 	</apex:inputField>
						 	<apex:facet name="footer"><apex:outputField value="{!dummyAccount.Current_fixed_costs_monthly__c}"/></apex:facet>
-->
						</apex:column>						
						<apex:column >
							<apex:facet name="header">
								<apex:outputPanel >
									<apex:outputLabel value="Quantity " for="quaExcel"/>
									<apex:inputText value="{!quantityExcelInput}" id="quaExcel">
										<apex:actionSupport action="{!processQuantityExcelValues}" event="onchange" rerender="theBlock" status="loadstatus" />		
									</apex:inputText>
								</apex:outputPanel>
							</apex:facet>	
<!--												
						 	<apex:inputField value="{!quota.dqa.Current_mobile_costs_monthly__c}" >
						 	</apex:inputField>
						 	<apex:facet name="footer"><apex:outputField value="{!dummyAccount.Current_mobile_costs_monthly__c}"/></apex:facet>
-->
						</apex:column>										
					</apex:pageBlockTable>
				</apex:actionRegion>
				<apex:commandButton value="Save" action="{!updateQuotas}" rerender="theBlock" status="savestatus" />
				<apex:actionStatus id="savestatus" stopText="">
				    <apex:facet name="start">
				       Saving....<img src="/img/loading.gif"/>
				    </apex:facet> 
				</apex:actionStatus>			
			</outputPanel>
		</apex:pageBlock>
	</apex:form>	
</apex:page>