<apex:page standardController="Lead" extensions="LeadConvertOverrideController">
    
	<script type="text/javascript">
	function dimOff()
	{
	    document.getElementById("darkLayer").style.display = "none";
	}
	function dimOn()
	{
	    document.getElementById("darkLayer").style.display = "";
	}
	</script>


	<apex:form >
		<div id="darkLayerDetail" class="darkClass" ></div>
		<apex:outputPanel >
			<apex:detail subject="{!Lead.Id}" />
		</apex:outputPanel>
		
		<apex:outputPanel id="popup">  
			 
		    <apex:outputPanel styleClass="customPopup" layout="block" >
		    	<div id="darkLayer" class="darkClass" style="display:none"></div>               
				<apex:pageBlock title="Select rejection reason">
					<apex:actionStatus id="status" onstart="dimOn()" onstop="dimOff()" />						
					<apex:messages />
					
					<apex:pageBlockButtons >
						<apex:commandButton value="Save" action="{!rejectLeadFromUI}" />
						<apex:commandButton value="Cancel" action="{!cancel}" />
					</apex:pageBlockButtons>
					<apex:outputtext >Note: <i>Followed up, long term interest</i> means that customer is interested but did not want a meeting.</apex:outputtext>
					<apex:pageBlockSection columns="1" id="selection">
						<apex:pageBlockSectionItem >
						   	<apex:selectList id="rrSelect" value="{!rejectStatusSelected}" size="1" >
				    			<apex:selectOptions value="{!rejectStatuses}"  />
				    		</apex:selectList>
						</apex:pageBlockSectionItem>
					</apex:pageBlockSection>
				</apex:pageBlock>
			</apex:outputPanel>  
		</apex:outputPanel>     		
	</apex:form>
	<style type="text/css">      
	 .customPopup{            
		  background-color: white; 
		  border-style: solid; 
		  border-width: 1px;
		  left: 50%;           
		  padding:10px;           
		  position: absolute;           
		  z-index: 9999;           
		   /* These are the 3 css properties you will need to tweak so the pop             
		   up displays in the center of the screen. First set the width. Then set            
		   margin-left to negative half of what the width is. You can also add            
		   the height property for a fixed size pop up.*/            
		  width: 500px;            
		  margin-left: -250px;           
		  top:100px;        
	}
	    
	.darkClass
	{
	    background-color: white;
	    filter:alpha(opacity=50); /* IE */
	    opacity: 0.5; /* Safari, Opera */
	    -moz-opacity:0.50; /* FireFox */
	    z-index: 20;
	    height: 100%;
	    width: 100%;
	    background-repeat:no-repeat;
	    background-position:center;
	    position:absolute;
	    top: 0px;
	    left: 0px;
	}
	</style>	
</apex:page>