<apex:page showHeader="true" sidebar="true" title="MetaData Documentation Manager" controller="MetaDataDocumentationManagerController" >
    
    <apex:form >
        <apex:pageBlock >
            <apex:outputPanel >
                <apex:inputFile required="true" value="{!importCsvBody}" filename="{!importCsvName}" lang="nl" /> 
                <apex:commandButton action="{!importFromCSV}" title="Load" value="Load" status="button-status"/>
            </apex:outputPanel>
        </apex:pageBlock>
        <apex:actionRegion >
        <apex:pageBlock id="theBlock" title="Documentation Manager">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!updateAll}" title="Save updates" value="Save updates" status="button-status" rerender="theBlock"/>
                <apex:commandButton action="{!exportToCSV}" title="Export to CSV" value="Export to CSV" status="button-status"/>
                <apex:actionStatus id="button-status" stopText="">
                    <apex:facet name="start">
                       <img src="/img/loading.gif"/>
                    </apex:facet> 
                </apex:actionStatus>                
            </apex:pageBlockButtons>
            <apex:pageMessages />
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Select Object" />
                    <apex:selectList value="{!objectSelected}" size="1">
                        <apex:selectOptions value="{!objectsList}" />
                        <apex:actionSupport event="onchange" action="{!loadFieldList}" rerender="theBlock" status="loading-status"/>
                    </apex:selectList>
    
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:actionStatus id="loading-status" stopText="">
                <apex:facet name="start">
                   <img src="/img/loading.gif"/>
                </apex:facet> 
            </apex:actionStatus>
            
            <apex:pageBlockSection columns="1" id="fieldList">
                <apex:outputPanel id="fieldListPanel" />
                <apex:pageBlockTable value="{!fieldList}" var="f">
                    <apex:column width="20%" headerValue="API FieldName"><apex:outputLabel value="{!f.theFullName}"/></apex:column>
                    <apex:column width="20%" headerValue="Field Label"><apex:inputText value="{!f.theLabel}" size="50" disabled="{!f.isStandardField}"/></apex:column>
                    <apex:column width="30%" headerValue="Description"><apex:inputTextArea value="{!f.theDescription}" rows="1" cols="100" disabled="{!f.isStandardField}"/></apex:column>
                    <apex:column width="30%" headerValue="Helptext"><apex:inputTextArea value="{!f.theInlineHelptext}" rows="1" cols="100"/></apex:column>

                </apex:pageBlockTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <script>function setFocus() { }</script>
        </apex:actionRegion>

    </apex:form>

</apex:page>