<apex:page controller="OpportunityContractController">
    <apex:outputPanel id="js">
        <apex:outputPanel rendered="{!stage=='init' || closeToLimit}">
            <apex:form >
                <apex:actionFunction name="updateContractJS" action="{!updateContract}" rerender="js"/>
                <p align="center">
                    <img src="/img/loading32.gif" width="25" height="25" />
                    <apex:outputLabel value="Processing Contract..."/>
                </p>
            </apex:form>
            <script>
                updateContractJS();  
            </script>
        </apex:outputPanel>    
        <apex:outputPanel rendered="{!stage=='contractUpdated'}">
            <apex:form >
                <apex:actionFunction name="updateTaskAttJS" action="{!updateTaskAtt}" rerender="js"/>
                <p align="center">
                    <img src="/img/loading32.gif" width="25" height="25" />
                    <apex:outputLabel value="Processing Tasks and Attachments..."/>
                </p>
            </apex:form>
            <script>
                updateTaskAttJS();  
            </script>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!stage=='taskAttUpdated'}">
            <apex:form >
                <apex:actionFunction name="redirect" action="{!doRedirect}" rerender="js"/>
            </apex:form>
            <script>
                redirect();  
            </script>
        </apex:outputPanel> 
    </apex:outputPanel>
</apex:page>