<apex:page standardController="Order__c" extensions="OrderStatusController" recordSetVar="unused" action="{!processedManuallyOrders}">
    <apex:form >
        <apex:pageMessages />
        <apex:commandButton action="{!backToList}" value="{!$Label.LABEL_Back}" />
    </apex:form>
</apex:page>