<apex:page showHeader="false" title="{!$Label.site.forgot_password_confirmation}">
<apex:form id="form">

<apex:styleSheet value="{!URLFOR($Resource.PartnerPortalAssets,'/style.css')}" />

<div class="header">
	<h1>{!$Label.LABEL_Partner_Portal_Label}</h1>
</div>
<div id="login">
		<table border="0" cellpadding="" cellspacing="0" class="bPageBlock">
			<tr valign="middle">
				<td>
					<div class="background"></div>
				</td>
				<td> 
				<div class="pbBody">
					<h5 class="mainTitle"><apex:outputText styleClass="title" value="{!$Label.site.temp_password_sent}"/></h5>
					<apex:pageMessages id="error"/>
					
					<table border="0" cellpadding="0" cellspacing="0">
						<tr class="pbBottomButtons">
							<td colspan="2">
								<div class="forget">
									<apex:outputLink value="{!$Page.PartnerPortalLogin}" rendered="{!$Site.LoginEnabled}">{!$Label.site.go_to_login_page}</apex:outputLink> 	
								</div>
							</td>
						</tr>
					</table>
				</div>
				</td>
			</tr>
		</table>
</div>

 </apex:form>
</apex:page>