<apex:page showHeader="true" sidebar="true" title="Salesforce Contact Info" controller="SalesforceContactInfoController" action="{!checkUserEmail}" >
    <style>
        .hasMotif {
            margin : 0px;
        }
    </style>

    <apex:form rendered="{!NOT(ISPICKVAL($User.UserType,'PowerPartner'))}" >
        <apex:pageBlock title="SalesForce Support">
        <apex:pageBlockButtons location="top">
                <apex:commandButton value="Log een Case" onclick="window.open('{!URLFOR($Action.Case.NewCase,null,[retURL="/home/home.jsp"])}','_parent');" />
                <apex:commandButton value="Aanmelding Training Salesforce" onclick="window.open('{!URLFOR($Page.TrainingRegistration)}','_parent');" />
            </apex:pageBlockButtons>
         
    
            <table style="width:80%">
                <tr>
                    <td><h1>
                    Om kwaliteit en spoedige opvolging te kunnen garanderen, vragen we jullie een case te loggen voor je SalesForce vragen. 
                    <br></br>
                    Voor dringende gevallen zijn we dagelijks bereikbaar op telefoonnummer: 088-7145290. Houd dan wel je case referentienummer (bv 20260) bij de hand.
                    <br></br>
                                   <br></br>
                    Voor het aanvragen van een nieuw useraccount, ga naar Sailpoint. Klik hier voor de <a href="https://vodafoneziggo.sharepoint.com/teams/identity-and-access-management/SitePages/SailPoint-Instructies.aspx" target="_blank">handleiding</a> of richt je tot IAMonboarding@vodafoneziggo.com.
                    <br></br>
                    <br></br>
                    Alvast bedankt voor je medewerking! 
                    <br></br>
                    Groeten, 
                    Team SalesForce</h1></td> 
                </tr>
                <tr>
                    <td></td>
                    <td><h1></h1></td> 
                </tr>
            </table> 

   
        </apex:pageBlock>
    </apex:form>
</apex:page>