<apex:page standardController="Opportunity" showHeader="true" sidebar="true" extensions="SetOpportunityOwnerController">
	<!-- This forces a change in the alignment (inline pages don't line up by default) -->
	<style>
	    .bPageBlock .detailList .labelCol { width: 1%; min-width:233px; }
	    .bPageBlock .detailList .data2Col { width: 99%; }
	</style>

	<!-- Displays a processing progress bar -->
    <apex:actionStatus id="setOwner" stopText="">
        <apex:facet name="start">
            <div>
                <table border="0" width="100%" height="100%">
                    <tr>
                        <td align="center"><img src="{!$Resource.progressBar}"/></td>
                    </tr>
                </table>
            </div>
        </apex:facet>
    </apex:actionStatus>	

	<apex:form id="myForm">
        <apex:pageBlock mode="maindetail">
            <apex:pageBlockSection columns="2">
                <apex:pageBlockSectionItem rendered="{!EnableSetGeneralOwner}">
					<apex:outputLabel value="General Owner" for="generalOwner"/>
					<apex:outputField value="{!acc.Mobile_Dealer__r.Name}" id="generalOwner"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!EnableSetGeneralOwner}">
					<apex:commandButton value="Set Owner" action="{!setGeneralOwner}" id="setGO" rerender="redirectPanel" status="setOwner"/>
                </apex:pageBlockSectionItem>  

                <apex:pageBlockSectionItem rendered="{!EnableSetFixedOwner}">
					<apex:outputLabel value="Fixed Owner" for="fixedOwner"/>
					<apex:outputField value="{!acc.Fixed_Dealer__r.Name}" id="fixedOwner"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!EnableSetFixedOwner}">
					<apex:commandButton value="Set Owner" action="{!setFixedOwner}" id="setFO" rerender="redirectPanel" status="setOwner"/>                
				</apex:pageBlockSectionItem> 

            </apex:pageBlockSection>
        </apex:pageBlock>

		<!-- This panel allows us to refresh the main page so that the user can see the new owner -->
        <apex:outputPanel id="redirectPanel" >
            <apex:outputText rendered="{!shouldRedirect}">
                <script type="text/javascript">
                    window.top.location.href = '{!redirectUrl}';
                </script>
            </apex:outputText>
        </apex:outputPanel>

    </apex:form>

</apex:page>