<apex:page standardController="Site__c" extensions="SiteExistingInfraController" title="Site Existing Infra" tabStyle="Site__c"
lightningStylesheets="true" showHeader="{!$Site.Name != $Label.LABEL_Lightning_Partner_CommunityName}">
	
	<apex:form >
		<div id="darkLayerDetail" class="darkClass" ></div>
		<apex:outputPanel >
			<apex:iframe rendered="{!showIFrame && $Site.Name != $Label.LABEL_Lightning_Partner_CommunityName}" src="{!retURL}&isdtp=vw"/>
			<apex:detail rendered="{!!showIFrame && siteId != ''}" subject="{!siteId}" />
		</apex:outputPanel>
		
		<apex:outputPanel id="popup">  
			 
		    <apex:outputPanel styleClass="customPopup {!IF(siteIds != '', 'sitesCustomPopup', '')}" layout="block" >
		    	<div id="darkLayer" class="darkClass" style="display:none"></div>  
				<apex:actionStatus id="status" onstart="dimOn()" onstop="dimOff()" />						
                
                <apex:pageBlock title="Existing Infra" id="existingInfra">
                	<apex:pageBlockButtons id="btns">
						<apex:commandButton value="Save and return" action="{!saveUpdates}" rerender="msgs" />
						<apex:commandButton value="Delete" action="{!removeInfras}" rerender="existingInfra" status="status" rendered="{!siteIds != ''}"/>
						<apex:commandButton value="Add infra" action="{!addInfras}" rerender="existingInfra" status="status" rendered="{!siteIds != ''}"/>
						<apex:commandButton value="Return" action="{!backToSite}" immediate="true"/>
					</apex:pageBlockButtons>

					<apex:variable value="{!0}" var="rowNumber" />
					<!-- Here we will use an extra variable to define a row number -->
					<apex:outputPanel id="panelWithVar">
					    <apex:variable value="{!0}" var="rowNumber" />
					</apex:outputPanel>

					<apex:pageMessages id="msgs"/>
                	<apex:pageBlockTable value="{!existingInfra}" var="infra" id="infraTable">
					    <!-- A button to remove individual entry. We must to pass the line number to define a list entry number to remove -->
					    <apex:column >
					        <apex:commandLink action="{!removeInfra}" value="Del" reRender="infraTable,panelWithVar" rendered="{!siteIds = ''}">
					            <apex:param name="p1" value="{!rowNumber}" assignTo="{!numberOfRowToRemove}"/>
					        </apex:commandLink>
							<apex:variable var="rowNumber" value="{!rowNumber + 1}" />					        
					    </apex:column>
                		<apex:column rendered="{!siteIds != ''}">
							<apex:inputCheckbox id="check" value="{!infra.selected}"/>
						</apex:column>   

                		<apex:column headerValue="Vendor">
                		 	<apex:selectList value="{!infra.Vendor}" size="1">
                		 		<apex:selectOptions value="{!vendorPicklist}" />
                		 	</apex:selectList> 
                		 </apex:column>
						<apex:column headerValue="{!$ObjectType.Site_Postal_Check__c.fields.Total_MB_Existing_EVC__c.label}"> 
							<apex:inputText value="{!infra.TotalMB}" />
						</apex:column>                		 
                		<apex:column value="{!infra.theSpc.Access_Site_ID__c}" rendered="{!siteIds != ''}"/>
                		<apex:column value="{!infra.theSpc.Technology_Type__c}" />
                		<apex:column value="{!infra.theSpc.Accessclass__c}" />
                		<apex:column value="{!infra.theSpc.Access_Max_Down_Speed__c}" />
                		<apex:column value="{!infra.theSpc.Access_Max_Up_Speed__c}" />
                	</apex:pageBlockTable>

					<apex:commandButton value="Add" action="{!addInfra}" reRender="infraTable,panelWithVar" immediate="true" rendered="{!siteIds = ''}"/>

				</apex:pageBlock>
			</apex:outputPanel>  
		</apex:outputPanel>     		
	</apex:form>
	<style type="text/css">      
	 .customPopup{            
		  background-color: white; 
		  border-style: solid; 
		  border-width: 1px;
		  left: 50%;           
		  padding:10px;           
		  position: absolute;           
		  z-index: 9999;           
		   /* These are the 3 css properties you will need to tweak so the pop             
		   up displays in the center of the screen. First set the width. Then set            
		   margin-left to negative half of what the width is. You can also add            
		   the height property for a fixed size pop up.*/            
		  width: 860px;            
		  margin-left: -375px;
		  top:100px;        
	}
	
	.sitesCustomPopup {
		width: 990px!important;
		left: 45%!important;
	}
	    
	.darkClass
	{
	    background-color: white;
	    filter:alpha(opacity=50); /* IE */
	    opacity: 0.5; /* Safari, Opera */
	    -moz-opacity:0.50; /* FireFox */
	    z-index: 20;
	    height: 100%;
	    width: 100%;
	    background-repeat:no-repeat;
	    background-position:center;
	    position:absolute;
	    top: 0px;
	    left: 0px;
	}

	</style>

	<script type="text/javascript">
	function dimOff()
	{
	    document.getElementById("darkLayer").style.display = "none";
	}
	function dimOn()
	{
	    document.getElementById("darkLayer").style.display = "";
	}
	</script>		

</apex:page>