<apex:page controller="PostalCodeCheckController" action="{!postalCodeCheckForSite}" >
    <apex:form id="theForm">
        <apex:pageMessages />

    	<apex:pageBlock id="theBlock">
    		<apex:pageBlockButtons >
				<apex:commandButton value="Back to Site" action="{!backToSite}" />
    		</apex:pageBlockButtons>

	        <apex:outputPanel id="actionPanel"  rendered="{!showActionStatus}">
		        <apex:pageBlockSection columns="1">
		        	<apex:outputField value="{!s.Postal_Code_Check_Status__c}" />
		        
			        <apex:outputPanel rendered="{!s.Postal_Code_Check_Status__c == 'Requested'}">
			        	<apex:image id="theImage" value="/img/loading.gif"/>&nbsp;<i>Awaiting postalcode check result...</i>
			        
			        	<!-- only keep refreshing if the status is still 'requested' -->
			        	<apex:actionPoller action="{!fetchSite}" rerender="theBlock" interval="5" />
			        </apex:outputPanel>
		        </apex:pageBlockSection>
	        </apex:outputPanel>
	        
		</apex:pageBlock>

    </apex:form>	
</apex:page>