<apex:page Controller="UserManagementController">
	<apex:sectionHeader subtitle="User Management" description="Please select the people that still work for you."/>
	<apex:form >
		<apex:pageBlock >
			<apex:pageBlockButtons >
				<apex:commandButton value="Send user overview" action="{!send}" rerender="table"/>
			</apex:pageBlockButtons>
			<apex:pageBlockTable value="{!infos}" var="r" id="table">
				<apex:column >
					<apex:facet name="header">Active / Inactive</apex:facet>
					<apex:inputCheckbox value="{!r.check}"/>
				</apex:column>
				<apex:column value="{!r.name}">
					<apex:facet name="header">Name</apex:facet>
				</apex:column>
				<apex:column value="{!r.role}">
					<apex:facet name="header">Role</apex:facet>
				</apex:column>
				<apex:column >
					<apex:facet name="header">Comment</apex:facet>
					<apex:inputText value="{!r.comment}"/>
				</apex:column>
			</apex:pageBlockTable>
			<br />
			<apex:pageBlockSection >
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Additional Comments (new employees, etc.)"/>
					<apex:inputTextArea value="{!additionalComments}" cols="100" rows="5"/>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>