.slds-modal__container{
	width: 80% !important;
	max-width: 80% !important;
}

.cuf-content {
	padding: 0 0rem !important;
}
.slds-p-around--medium {
	padding: 0rem !important;
}       
.slds-modal__content{
	height:unset !important;
	max-height:unset !important;
}