.wrapped-header-datatable .slds-table .slds-th__action .slds-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: unset;
  white-space: pre-line;
  /* word-wrap: break-word; */
}

.wrapped-header-datatable .slds-table .slds-th__action {
  height: 2.5rem;
}

.wrapped-header-datatable .slds-table .slds-line-height_reset {
  height: 0.4rem;
}
