<template>
	<div class="slds-modal slds-fade-in-open slds-backdrop">
		<div class="slds-modal__container">
			<div class="slds-modal__header">
				<lightning-button-icon
					icon-name="utility:close"
					alternative-text="Close this window"
					size="large"
					variant="bare-inverse"
					onclick={closeModal}
					class="slds-modal__close"
				>
				</lightning-button-icon>
				<h2>Select Contact</h2>
			</div>
			<div class="slds-modal__content slds-p-around_medium">
				<lightning-combobox
					class="slds-p-top_medium slds-p-left_medium slds-p-right_medium"
					name="contact"
					label="Contacts"
					value={contact}
					placeholder="Select Contact"
					options={options}
					onchange={handleSelected}
				></lightning-combobox>
			</div>
			<div class="slds-modal__footer">
				<lightning-button
					variant="brand-outline"
					label="Close"
					title="Close"
					onclick={closeModal}
					class="slds-m-left_x-small"
				></lightning-button>
				<lightning-button
					variant="brand"
					label="Select"
					title="Select"
					onclick={handleSelect}
					class="slds-m-left_x-small"
				></lightning-button>
			</div>
		</div>
	</div>
</template>