<template>
    <div class="slds-box container">
        <template if:true={showMainMenu}>
            <div class="slds-grid slds-gutters" data-tag="mainmenu">
                <div class="slds-col slds-m-left_small">
                    <section class="oppty-page-header">
                        <div class="slds-grid">
                            <div class="slds-col slds-grow-none">
                                <lightning-icon
                                    icon-name="standard:opportunity"
                                    alternative-text={labels.opportunity}
                                    title={labels.opportunity}
                                ></lightning-icon>
                            </div>
                            <div class="slds-col slds-grow-none">
                                <h1>{labels.opportunity}</h1>
                                <template if:true={opptyLoaded}>
                                    <h2>
                                        {opptyAccount.Name} | {opportunity.Name}
                                    </h2>
                                </template>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- <section class="oppty-summary">
                    <div class="slds-col slds-m-right_small">
                        <div class="slds-grid slds-wrap slds-text-body_small">
                            <section
                                class="slds-col slds-size--1-of-8 summary-header"
                            >
                                {labels.costBreakdown}
                            </section>
                            <section
                                class="slds-col slds-size--7-of-8 summary-body"
                            >
                                <lightning-datatable
                                    data={opptySummary}
                                    columns={opptyColumns}
                                    key-field="Id"
                                    hide-checkbox-column="true"
                                    resize-column-disabled="true"
                                ></lightning-datatable>
                            </section>
                        </div>
                    </div>
                </section> -->
            </div>
            <!-- <lightning-button
                icon-name="utility:download"
                label={labels.csv}
                title={labels.csv}
                onclick={downloadCSVFile}
                variant="brand"
                class="slds-m-left_x-small"
            >
            </lightning-button> -->
            <!--  <lightning-button
                icon-name="utility:new"
                variant="brand"
                label={labels.new}
                title={labels.new}
                onclick={newProduct}
                class="slds-m-left_x-small"
            >
            </lightning-button>-->
            <lightning-button
                label="Mass Edit"
                icon-name="utility:edit"
                disabled={isMassEdit}
                variant="brand"
                onclick={massActions}
                class="slds-m-left_x-small"
            >
            </lightning-button>
            <lightning-button
                label={labels.delete}
                icon-name="utility:delete"
                disabled={isMassDelete}
                variant="destructive"
                onclick={deleteDataProd}
                class="slds-m-left_x-small"
            >
            </lightning-button>
            <!--   <lightning-button
                label={labels.clone}
                icon-name="utility:copy"
                disabled={isMassClone}
                variant="brand"
                onclick={cloneData}
                class="slds-m-left_x-small"
            >
            </lightning-button> -->
            <lightning-button
                icon-name="standard:product_item"
                variant="brand"
                label={labels.installedBase}
                title={installedBaseSelectLabel}
                onclick={toggleShowInstalledBase}
                class="slds-m-left_x-small"
            ></lightning-button>
            <lightning-button
                icon-name="custom:custom93"
                variant="brand"
                label="Return to Order"
                onclick={navigateToViewOpportunityPage}
                style="margin-left: 20%"
            >
            </lightning-button>
            <fieldset class="slds-form-element slds-form-element_compound">
                <div class="slds-form-element__control">
                    <div class="slds-form-element__row">
                        <div class="slds-size_1-of-3">
                            <div class="slds-form-element">
                                <lightning-input
                                    type="text"
                                    name="product"
                                    label={labels.product}
                                    placeholder={filterOnProductLabel}
                                    value={prodSearch}
                                    onchange={filterProducts}
                                ></lightning-input>
                            </div>
                        </div>
                        <div class="slds-size_1-of-3">
                            <div class="slds-form-element">
                                <lightning-input
                                    type="text"
                                    name="site"
                                    label={labels.site}
                                    placeholder={filterOnSiteLabel}
                                    value={siteSearch}
                                    onchange={filterProducts}
                                ></lightning-input>
                            </div>
                        </div>
                        <div class="slds-size_1-of-3">
                          <!-- <div class="slds-form-element">
                                <lightning-input
                                    type="text"
                                    name="activityType"
                                    label={labels.activityType}
                                    placeholder={filterOnActivityTypeLabel}
                                    value={activityTypeSearch}
                                    onchange={filterProducts}
                                ></lightning-input>
                            </div> -->
                            <div class="slds-form-element">
                                <lightning-combobox
                                name="activityType"
                                label={labels.activityType}
                                value={activityTypeSearch}
                                placeholder="Select Activity Type"
                                options={activitySearchOptions}
                                onchange={filterProducts}
                            >
                      </lightning-combobox>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <template if:false={isLoading}>
                <c-custom-lightning-datatable
                    data={shownCPProducts}
                    columns={columns}
                    key-field="Id"
                    onrowaction={handleRowAction}
                    onsave={handleSave}
                    draft-values={draftValues}
                    errors={errors}
                    onpicklistchanged={picklistChangeListener.processChange}
                    onrowselection={getSelectedRecords}
                    sorted-by={sortBy}
                    sorted-direction={sortDirection}
                    onsort={handleSortdata}
                    selected-rows={selectedCustomerBaseItems}
                >
                </c-custom-lightning-datatable>
                <div class="slds-m-around_medium">
                    <p class="slds-m-vertical_medium content">
                             Displaying {startingRecord} to {endingRecord} of {totalRecountCount} records.
                             Page {page} of {totalPage}. </p>
                    <c-paginator onprevious={previousHandler} onnext={nextHandler}></c-paginator>
                </div>
            </template>
            <template if:true={isLoading}>
                <div class="spinnerContainer">
                    <lightning-spinner
                        alternative-text={labels.spinnerLoading}
                        size="large"
                        variant="brand"
                    ></lightning-spinner>
                </div>
            </template>
        </template>
        <template if:true={showInstalledBase}>
            <!--   <c-installed-base-table-lwc opportunityrecordid={recordId} 
            orderid={orderId} vfcontractid={vfContractId} 
            oncallinstalledbasetablelwc={installbaseListener.installbaseLineItemsCreated}>
            </c-installed-base-table-lwc> -->
            <c-installed-base-table-lwc
                opportunityrecordid={recordId}
                orderid={orderId}
                oncallinstalledbasetablelwc={installbaseListener.installbaseLineItemsCreated}
            >
            </c-installed-base-table-lwc>
        </template>
        <!-- <template if:false={showInstalledBase}>
            <lightning-datatable
            data={shownCPProducts}
            columns={columns}
            key-field="Id"
            onrowaction={handleRowAction}
            onsave={handleSave}
            draft-values={draftValues}
            errors={errors}
            selected-rows={selectedProducts}
            onrowselection={getSelectedRecords}>
    
        </lightning-datatable>
              </template> -->
    </div>

    <!-- Our modal with record Price Change form - Start -->
    <template if:true={isPriceModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section
            role="dialog"
            tabindex="-1"
            aria-labelledby="modal-heading-01"
            aria-modal="true"
            aria-describedby="modal-content-id-1"
            class="slds-modal slds-fade-in-open"
        >
            <div class="slds-modal__container">
                <div class="spinner">
                    <template if:true={isLoading}>
                        <lightning-spinner
                            alternative-text={labels.spinnerLoading}
                            variant="brand"
                            size="large"
                        >
                        </lightning-spinner>
                    </template>
                </div>
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button
                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title={labels.close}
                        onclick={closeModal}
                    >
                        <lightning-icon
                            icon-name="utility:close"
                            alternative-text={labels.close}
                            variant="inverse"
                            size="small"
                        ></lightning-icon>
                        <span class="slds-assistive-text">{labels.close}</span>
                    </button>
                    <h2
                        id="modal-heading-02"
                        class="slds-text-heading_medium slds-hyphenate"
                    >
                        {labels.priceChange}
                    </h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div
                    class="slds-modal__content slds-p-around_medium"
                    id="modal-content-id-2"
                >
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input
                                type="text"
                                label="Cost Center"
                                value={selectedRow.costCenter}
                                onchange={changeValues}
                                name="Allocation Code"
                                required
                            >
                            </lightning-input>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-combobox
                            name="CLC"
                            label="CLC"
                            value={selectedRow.clc}
                            placeholder="Select CLC"
                            options={clcForPCOptions}
                            onchange={changeValues}
                        >
                        </lightning-combobox>
                        </div>
                       
                    </div>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input
                                type="text"
                                label="PO Number"
                                value={selectedRow.poNumber}
                                onchange={changeValues}
                                name="PO Number"
                                required
                            >
                            </lightning-input>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <label
                                class="slds-form-element__label"
                                style="margin-right: 0.5rem"
                            >
                                <span>Invoice Start Date</span>
                                <span class="required">*</span>
                            </label>
                            <lightning-helptext
                                content="Invoice (Start) Date"
                            ></lightning-helptext>
                            <lightning-input
                                type="date"
                                label="Invoice Start Date"
                                value={selectedRow.invoiceDate}
                                onchange={changeValues}
                                name="Invoice Start Date"
                                variant="label-hidden"
                                required
                            >
                            </lightning-input>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input
                                type="number"
                                label="Price"
                                value={selectedRow.listprice}
                                onchange={changeValues}
                                name="Price"
                                required
                            >
                            </lightning-input>
                        </div>
                        <div
                            class="slds-col slds-size_1-of-2"
                            style="margin-top: 2.5%"
                        >
                            <lightning-input
                                type="checkbox"
                                label="Unify Invoice"
                                value={selectedRow.billing}
                                checked={selectedRow.billing}
                                onchange={changeValues}
                                name="No Unify Invoice"
                            >
                            </lightning-input>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input
                                type="number"
                                label="Contract Period"
                                value={selectedRow.duration}
                                onchange={changeValues}
                                name="Contract Period"
                                required
                            >
                            </lightning-input>
                        </div>

                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input
                                type="number"
                                label="Discount(%)"
                                value={selectedRow.discount}
                                onchange={changeValues}
                                name="Discount(%)"
                                required
                            >
                            </lightning-input>
                        </div>
                    </div>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button
                        class="slds-button slds-button_neutral"
                        onclick={closeModal}
                        title="Cancel"
                    >
                        Cancel
                    </button>
                    <button
                        class="slds-button slds-button_brand"
                        onclick={handleSavePriceChange}
                        title="OK"
                    >
                        OK
                    </button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <!-- Our modal with record Price Change form - End -->
    <!-- Our modal with record Ceases form - Start -->
    <template if:true={isCeasesModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section
            role="dialog"
            tabindex="-1"
            aria-labelledby="modal-heading-01"
            aria-modal="true"
            aria-describedby="modal-content-id-1"
            class="slds-modal slds-fade-in-open"
        >
            <div class="slds-modal__container">
                <div class="spinner">
                    <template if:true={isLoading}>
                        <lightning-spinner
                            alternative-text="Loading"
                            variant="brand"
                            size="large"
                        >
                        </lightning-spinner>
                    </template>
                </div>
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button
                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close"
                        onclick={closeModal}
                    >
                        <lightning-icon
                            icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small"
                        ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2
                        id="modal-heading-03"
                        class="slds-text-heading_medium slds-hyphenate"
                    >
                        Ceases
                    </h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div
                    class="slds-modal__content slds-p-around_medium"
                    id="modal-content-id-3"
                >
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input
                                type="date"
                                label="Administrative End Date"
                                value={selectedRow.administrativeEndDate}
                                onchange={changeValues}
                                name="Administrative End Date"
                                required
                            >
                            </lightning-input>
                        </div>
                        <div
                            class="slds-col slds-size_1-of-2"
                            style="margin-top: 2.5%"
                        >
                            <lightning-input
                                type="checkbox"
                                label="Do no return HW"
                                value={selectedRow.doNotReturnHW}
                                checked={selectedRow.doNotReturnHW}
                                onchange={changeValues}
                                name="Do no return HW"
                            >
                            </lightning-input>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input
                                type="date"
                                label="Contractual End Date"
                                value={selectedRow.contractEndDate}
                                onchange={changeValues}
                                name="Contractual End Date"
                                required
                            >
                            </lightning-input>
                        </div>
                        <div
                            class="slds-col slds-size_1-of-2"
                            style="margin-top: 2.5%"
                        >
                            <lightning-input
                                type="checkbox"
                                label="Unify Invoice"
                                value={selectedRow.billing}
                                checked={selectedRow.billing}
                                onchange={changeValues}
                                name="No Unify Invoice"
                            >
                            </lightning-input>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input
                            type="text"
                            label="Quantity"
                            value={selectedRow.customerAssetQuantity}
                            name="customerAssetQuantity"
                            disabled="true"
                        >
                         </lightning-input>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input
                                type="number"
                                label="Quantity to Terminate"
                                value={selectedRow.quantity}
                                onchange={changeValues}
                                name="Quantity"
                                required
                            >
                            </lightning-input>
                        </div>
                    </div>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button
                        class="slds-button slds-button_neutral"
                        onclick={closeModal}
                        title="Cancel"
                    >
                        Cancel
                    </button>
                    <button
                        class="slds-button slds-button_brand"
                        onclick={handleSavePriceChange}
                        title="OK"
                    >
                        OK
                    </button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <!-- Our modal with record Ceases form - End -->
    <!-- Our modal with delete record  form-Start  -->
    <template if:true={isDeleteModal}>
        <!-- Modal/Popup Box LWC starts here -->
        <section
            role="dialog"
            tabindex="-1"
            aria-labelledby="modal-heading-05"
            aria-modal="true"
            aria-describedby="modal-content-id-5"
            class="slds-modal slds-fade-in-open"
        >
            <div class="slds-modal__container">
                <div class="spinner">
                    <template if:true={isLoading}>
                        <lightning-spinner
                            alternative-text="Loading"
                            variant="brand"
                            size="large"
                        >
                        </lightning-spinner>
                    </template>
                </div>
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button
                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close"
                        onclick={closeModal}
                    >
                        <lightning-icon
                            icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small"
                        ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2
                        id="modal-heading-06"
                        class="slds-text-heading_medium slds-hyphenate"
                    >
                        Delete record
                    </h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div
                    class="slds-modal__content slds-p-around_medium"
                    id="modal-content-id-6"
                >
                    <h2
                        id="modal-heading-07"
                        class="slds-text-heading_medium slds-hyphenate"
                    >
                        Are you sure you wish to remove this record?
                    </h2>
                </div>

                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button
                        class="slds-button slds-button_neutral"
                        onclick={closeModal}
                        title="Cancel"
                    >
                        Cancel
                    </button>
                    <button
                        class="slds-button slds-button_brand"
                        onclick={deleteData}
                        title="Delete"
                    >
                        Delete
                    </button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <!-- Our modal with delete record  form-End  -->

    <!-- Our modal with mass delete record  form-Start -->
    <template if:true={isMassDeleteModal}>
        <!-- Modal/Popup Box LWC starts here -->
        <section
            role="dialog"
            tabindex="-1"
            aria-labelledby="modal-heading-05"
            aria-modal="true"
            aria-describedby="modal-content-id-5"
            class="slds-modal slds-fade-in-open"
        >
            <div class="slds-modal__container">
                <div class="spinner">
                    <template if:true={isLoading}>
                        <lightning-spinner
                            alternative-text="Loading"
                            variant="brand"
                            size="large"
                        >
                        </lightning-spinner>
                    </template>
                </div>
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button
                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close"
                        onclick={closeModal}
                    >
                        <lightning-icon
                            icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small"
                        ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2
                        id="modal-heading-08"
                        class="slds-text-heading_medium slds-hyphenate"
                    >
                        Delete record
                    </h2>
                </header>

                <template if:true={isSingle}>
                    <div
                        class="slds-modal__content slds-p-around_medium"
                        id="modal-content-id-10"
                    >
                        <h2
                            id="modal-heading-10"
                            class="slds-text-heading_medium slds-hyphenate"
                        >
                            Are you sure you wish to remove this record?
                        </h2>
                    </div>
                </template>
                <template if:false={isSingle}>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div
                        class="slds-modal__content slds-p-around_medium"
                        id="modal-content-id-8"
                    >
                        <h2
                            id="modal-heading-09"
                            class="slds-text-heading_medium slds-hyphenate"
                        >
                            Are you sure you wish to delete {recordsCount} rows?
                        </h2>
                    </div>
                </template>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button
                        class="slds-button slds-button_neutral"
                        onclick={closeModal}
                        title="Cancel"
                    >
                        Cancel
                    </button>
                    <button
                        class="slds-button slds-button_brand"
                        onclick={deleteCP}
                        title="Delete"
                    >
                        Delete
                    </button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <!-- Our modal with Mass delete record  form-End -->
    <!-- Our modal with record Mass Edit & Cease form-Start -->
    <template if:true={isMassEditModal}>
        <!-- Modal/Popup Box LWC starts here -->
        <section
            role="dialog"
            tabindex="-1"
            aria-labelledby="modal-heading-01"
            aria-modal="true"
            aria-describedby="modal-content-id-1"
            class="slds-modal slds-fade-in-open"
        >
            <div class="slds-modal__container">
                <div class="slds-modal__content slds-p-around_xx-large">
                    <lightning-tabset>
                        <template if:true={isSingleCease}>
                            <lightning-tab
                                label="Mass Cease"
                                title="Mass Cease.."
                                style="margin-right: 30%"
                            >
                                <template if:true={isMassCease}>
                                    <div class="slds-modal__container">
                                        <div class="spinner">
                    <template if:true={isLoading}>
                         <lightning-spinner alternative-text={labels.spinnerLoading} variant="brand" size="large">
                         </lightning-spinner>
                    </template>
                </div> 
                            
                                        <!-- Modal/Popup Box LWC body starts here -->
                                        <div
                                            class="slds-modal__content slds-p-around_medium fieldSize"
                                            id="modal-content-id-011"
                                        >
                                            <div class="slds-grid slds-gutters">
                                                <div
                                                    class="slds-col slds-size_1-of-2"
                                                >
                                                    <lightning-input
                                                        type="date"
                                                        label="Administrative End Date"
                                                        value={administrativeEndDate}
                                                        onchange={changeValues}
                                                        name="AdministrativeEndDate"
                                                        required
                                                    >
                                                    </lightning-input>
                                                </div>
                                            </div>

                                            <div class="slds-grid slds-gutters">
                                                <div
                                                    class="slds-col slds-size_1-of-2"
                                                >
                                                    <lightning-input
                                                        type="date"
                                                        label="Contractual End Date"
                                                        value={contractEndDate}
                                                        onchange={changeValues}
                                                        name="ContractualEndDate"
                                                        required
                                                    >
                                                    </lightning-input>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal/Popup Box LWC footer starts here -->
                                        <footer class="slds-modal__footer">
                                            <button
                                                class="slds-button slds-button_neutral"
                                                onclick={closeModal}
                                                title="Cancel"
                                            >
                                                Cancel
                                            </button>
                                            <button
                                                class="slds-button slds-button_brand"
                                                onclick={massCeasesActions}
                                                title="Update"
                                            >
                                                Update
                                            </button>
                                        </footer>
                                    </div>
                                </template>
                                <template if:true={isSingleCeaseMsg}>
                                    <header class="slds-modal__header">
                                        <button
                                            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                            title="Close"
                                            onclick={closeModal}
                                        >
                                            <lightning-icon
                                                icon-name="utility:close"
                                                alternative-text="close"
                                                variant="inverse"
                                                size="small"
                                            ></lightning-icon>
                                            <span class="slds-assistive-text"
                                                >Close</span
                                            >
                                        </button>
                                        <h2
                                            id="modal-heading-014"
                                            class="slds-text-heading_medium slds-hyphenate"
                                        >
                                            You have selected single Cease
                                            Product ,Please use inline edit
                                            action for single record
                                        </h2>
                                    </header>
                                    <footer class="slds-modal__footer">
                                        <button
                                            class="slds-button slds-button_neutral"
                                            onclick={closeModal}
                                            title="Cancel"
                                        >
                                            Cancel
                                        </button>
                                    </footer>
                                </template>
                                <template if:true={isFinalMsgCease}>
                                    <header class="slds-modal__header">
                                        <button
                                            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                            title="Close"
                                            onclick={closeModal}
                                        >
                                            <lightning-icon
                                                icon-name="utility:close"
                                                alternative-text="close"
                                                variant="inverse"
                                                size="small"
                                            ></lightning-icon>
                                            <span class="slds-assistive-text"
                                                >Close</span
                                            >
                                        </button>
                                        <h2
                                            id="modal-heading-015"
                                            class="slds-text-heading_medium slds-hyphenate"
                                        >
                                            Records has been updated
                                            successfully,Please click on Finish
                                            button to go back add/Edit screen
                                        </h2>
                                    </header>
                                    <footer class="slds-modal__footer">
                                        <button
                                            class="slds-button slds-button_neutral"
                                            onclick={closeModal}
                                            title="Finish"
                                        >
                                            Finish
                                        </button>
                                    </footer>
                                </template>
                            </lightning-tab>
                        </template>
                     <!-- Price Change Start -->
				 <template if:true={isSinglePriceChange}>
                    <lightning-tab label="Mass Price Change" title="Edit.." style="margin-right: 30%;">
                        <template if:true={isMassPriceChange}>
                            <div class="slds-modal__container">
                            <div class="spinner">
                            <template if:true={isLoading}>
                                   <lightning-spinner alternative-text="Loading" variant="brand" size="large">
                                    </lightning-spinner>
                                   </template>
                                </div> 
                              
                                <!-- Modal/Popup Box LWC body starts here -->
                                <div
                                    class="slds-modal__content slds-p-around_medium fieldSizeEdit"
                                    id="modal-content-id-015"
                                >
                                  
                                    <lightning-combobox
                                        name="EditPcCLC"
                                        label="CLC"
                                        value={opportunityEditPcRecord.clc}
                                        placeholder="Select CLC"
                                        options={clcForPCOptions}
                                        onchange={changeValues}
                                    >
                                    </lightning-combobox>
                                
                                   
                                   <lightning-input
                                        type="text"
                                        label={labels.PONumber}
                                        value={opportunityEditPcRecord.poNumber}
                                        onchange={changeValues}
                                        name="EditPcPONumber"
										required
                                    >
                                    </lightning-input>
									  <lightning-input
                                         type="date"
                                         label="Invoice Start Date"
                                         value={opportunityEditPcRecord.invoiceDate}
                                         onchange={changeValues}
                                          name="EditPcInvoiceStartDate"
                                          required
                                        >
                            </lightning-input>
                                    <lightning-input
                                        type="number"
                                        label="Price"
                                        value={opportunityEditPcRecord.listprice}
                                        onchange={changeValues}
                                        name="EditPcPrice"
                                        required
                                    >
                                    </lightning-input>
                                    <lightning-input
                                        type="number"
                                        label="Discount(%)"
                                        value={opportunityEditPcRecord.discount}
                                        onchange={changeValues}
                                        name="EditPcDiscount"
                                        required
                                    >
                                    </lightning-input>
                                    <lightning-input
                                        type="number"
                                        label="Duration"
                                        value={opportunityEditPcRecord.duration}
                                        onchange={changeValues}
                                        name="EditPcContractPeriod"
                                        required
                                    >
                                    </lightning-input>
                                    <lightning-input
                                        type="text"
                                        label="Cost Center"
                                        value={opportunityEditPcRecord.costCenter}
                                        onchange={changeValues}
                                        name="EditPcAllocationCode"
                                        required
                                    >
                                    </lightning-input>
                                    <lightning-input
                                        type="checkbox"
                                        label="Unify Invoice"
                                        value={opportunityEditPcRecord.billing}
                                        checked={}
                                        onchange={changeValues}
                                        name="EditPcBilling"
                                    >
                                    </lightning-input>
                                </div>

                                <!-- Modal/Popup Box LWC footer starts here -->
                                <footer class="slds-modal__footer footerSizeEdit">
                                    <button
                                        class="slds-button slds-button_neutral"
                                        onclick={closeModal}
                                        title="Cancel"
                                    >
                                        Cancel
                                    </button>
                                    <button
                                        class="slds-button slds-button_brand"
                                        onclick={massPriceChangeData}
                                        title="Update"
                                    >
                                        Update
                                    </button>
                                </footer>
                            </div>
                        </template>

                        <template if:true={isSinglePriceChangeMsg}>
                            <header class="slds-modal__header">
                                <button
                                    class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                    title="Close"
                                    onclick={closeModal}
                                >
                                    <lightning-icon
                                        icon-name="utility:close"
                                        alternative-text="close"
                                        variant="inverse"
                                        size="small"
                                    ></lightning-icon>
                                    <span class="slds-assistive-text"
                                        >Close</span
                                    >
                                </button>
                                <h2
                                    id="modal-heading-017"
                                    class="slds-text-heading_medium slds-hyphenate"
                                >
                                    You have selected single Price Change Product
                                    ,Please use inline edit action for single
                                    record
                                </h2>
                            </header>
                            <footer class="slds-modal__footer">
                                <button
                                    class="slds-button slds-button_neutral"
                                    onclick={closeModal}
                                    title="Cancel"
                                >
                                    Cancel
                                </button>
                            </footer>
                        </template>
                        <template if:true={isFinalMsgPriceChange}>
                            <header class="slds-modal__header">
                                <button
                                    class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                    title="Close"
                                    onclick={closeModal}
                                >
                                    <lightning-icon
                                        icon-name="utility:close"
                                        alternative-text="close"
                                        variant="inverse"
                                        size="small"
                                    ></lightning-icon>
                                    <span class="slds-assistive-text"
                                        >Close</span
                                    >
                                </button>
                                <h2
                                    id="modal-heading-018"
                                    class="slds-text-heading_medium slds-hyphenate"
                                >
                                    Records has been updated successfully,Please
                                    click on Finish button to go back add/Edit
                                    screen
                                </h2>
                            </header>
                            <footer class="slds-modal__footer">
                                <button
                                    class="slds-button slds-button_neutral"
                                    onclick={closeModal}
                                    title="Finish"
                                >
                                    Finish
                                </button>
                            </footer>
                        </template>
                    </lightning-tab>
                </template>
                <!-- Price Change End-->
                 <!-- Update Activity start -->
 <template if:true={isEditActivity}>
    <lightning-tab label="Update Activity Types" title="Mass Edit.." style="margin-right: 30%;">
        <template if:true={isMassEditActivity}>
            <div class="slds-modal__container">
             <div class="spinner">
    <template if:true={isLoading}>
         <lightning-spinner alternative-text={labels.spinnerLoading} variant="brand" size="large">
         </lightning-spinner>
    </template>
</div> 
            
                <!-- Modal/Popup Box LWC body starts here -->
                <div
                    class="slds-modal__content slds-p-around_medium"
                    id="modal-content-id-018"
                >
                      <div style="margin-bottom: 20%; margin-top: -7%;">
                             <lightning-combobox
                                    name="actActivityType"
                                    label="Activity Type"
                                    value={massActivityType}
                                    placeholder="Select Activity Type"
                                    options={activityOptions}
                                    onchange={changeActivityValues}
                                    required
                                    
                                >
                          </lightning-combobox>
                        </div>
                        
                          <div style="margin-bottom: 32%;">
                         <lightning-combobox
                                    name="actCLC"
                                    label="CLC"
                                    value={massClc}
                                    placeholder="Select CLC"
                                    options={clcForActOptions}
                                    onchange={changeValues}
                                    disabled={isClc}
                                    required
                                >
                    </lightning-combobox>
                </div>   
                 
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button
                        class="slds-button slds-button_neutral"
                        onclick={closeModal}
                        title="Cancel"
                    >
                        Cancel
                    </button>
                    <button
                        class="slds-button slds-button_brand"
                        onclick={massActivityActions}
                        title="Update"
                    >
                        Update
                    </button>
                </footer>
                
            </div>
        </template>
      
        <template if:true={isFinalMsgActivity}>
            <header class="slds-modal__header">
                <button
                    class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                    title="Close"
                    onclick={closeModal}
                >
                    <lightning-icon
                        icon-name="utility:close"
                        alternative-text="close"
                        variant="inverse"
                        size="small"
                    ></lightning-icon>
                    <span class="slds-assistive-text"
                        >Close</span
                    >
                </button>
                <h2
                    id="modal-heading-019"
                    class="slds-text-heading_medium slds-hyphenate"
                >
                    Records has been updated successfully,Please
                    click on Finish button to go back add/Edit
                    screen
                </h2>
            </header>
            <footer class="slds-modal__footer">
                <button
                    class="slds-button slds-button_neutral"
                    onclick={closeModal}
                    title="Finish"
                >
                    Finish
                </button>
            </footer>
        </template>
    </lightning-tab>
</template>

<!-- Update Activity end -->
                    </lightning-tabset>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <!-- Our modal with record Mass Edit & Cease form-End -->
</template>