<template>
	<c-order-entry-internet-product-form
		products={internetProducts}
		addons={addons}
		state={_state}
		onselectedproduct={handleProductSelection}
		onselectedcontractterm={handleContractTermChange}
		onchangedaddon={handleChangedAddon}
		class="slds-m-bottom_medium"
		style="display: block"
	>
	</c-order-entry-internet-product-form>
	<c-order-entry-internet-additional-form
		addons={addons}
		state={state}
		onchangedaddon={handleChangedAddon}
	>
	</c-order-entry-internet-additional-form>
</template>