<template>
	<lightning-card title="Bundle Promotion" icon-name="utility:money">
		<div class="slds-p-horizontal_small">
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-p-top_medium" style="display: inline-flex; width: auto">
					<lightning-input
						type="toggle"
						label="B2C Internet Customer"
						name="b2cInternetCustomer"
						checked={b2cChecked}
						message-toggle-active=""
						message-toggle-inactive=""
						onchange={handleB2cChange}
					></lightning-input>
				</div>
			</div>
			<div class="slds-grid slds-gutters">
				<div
					class="slds-col slds-p-top_medium"
					style="display: flex; flex-direction: row; align-items: center"
				>
					<lightning-combobox
						name="bundlePromotion"
						label="Bundle Promotion"
						value={selectedPromotion}
						options={formattedPromotions}
						placeholder={picklistPlaceholder}
						class="slds-m-bottom_x-small bundle-promotions"
						style="flex-grow: 1"
						onchange={handlePromotionChange}
					>
					</lightning-combobox>
					<lightning-button-icon
						icon-name="utility:close"
						alternative-text="Remove"
						title="Remove"
						onclick={handleRemovePromotion}
						variant="bare"
						style="padding: 10px 0 0 10px"
					>
					</lightning-button-icon>
				</div>
			</div>
		</div>
	</lightning-card>
</template>