<template>
	<div class="slds-modal slds-fade-in-open slds-backdrop">
		<div class="slds-modal__container">
			<div class="slds-modal__header">
				<lightning-button-icon
					icon-name="utility:close"
					alternative-text="Close this window"
					size="large"
					variant="bare-inverse"
					onclick={closeModal}
					class="slds-modal__close"
				>
				</lightning-button-icon>
				<h2>New Contact</h2>
			</div>
			<div class="slds-modal__content slds-p-around_medium">
				<template if:true={loading}>
					<lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
				</template>
				<template if:false={loading}>
					<div
						class="slds-grid slds-gutters slds-p-top_medium slds-p-left_medium slds-p-right_medium"
					>
						<div class="slds-col">
							<lightning-input
								type="text"
								name="FirstName"
								label="First Name"
								value={newContact.FirstName}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
						<div class="slds-col">
							<lightning-input
								type="text"
								name="LastName"
								required="true"
								label="Last Name"
								value={newContact.LastName}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
					</div>
					<div
						class="slds-grid slds-gutters slds-p-top_medium slds-p-left_medium slds-p-right_medium"
					>
						<div class="slds-col">
							<lightning-input
								type="tel"
								pattern={telPattern}
								message-when-pattern-mismatch="Wrong phone format."
								name="MobilePhone"
								label="Mobile"
								value={newContact.MobilePhone}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
						<div class="slds-col">
							<lightning-input
								type="tel"
								pattern={telPattern}
								message-when-pattern-mismatch="Wrong phone format."
								name="Phone"
								label="Phone"
								value={newContact.Phone}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
					</div>
					<div
						class="slds-grid slds-gutters slds-p-top_medium slds-p-left_medium slds-p-right_medium"
					>
						<div class="slds-col">
							<lightning-input
								type="email"
								name="Email"
								required="true"
								label="Email"
								value={newContact.Email}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
					</div>
				</template>
			</div>
			<div class="slds-modal__footer">
				<lightning-button
					variant="brand-outline"
					label="Close"
					title="Close"
					onclick={closeModal}
					class="slds-m-left_x-small"
				></lightning-button>
				<lightning-button
					variant="brand"
					label="Save"
					title="Save"
					onclick={handleSave}
					class="slds-m-left_x-small"
				></lightning-button>
			</div>
		</div>
	</div>
</template>