.THIS{
    
}

.THIS table thead tr>th:nth-child(2)
{
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

.THIS table tbody tr>td:nth-child(2)
{
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
}