<template>
	<div class="slds-m-top_large"></div>
	<c-order-entry-installation-information
		state={state}
		onstatechanged={installationInformationChange}
		onpreferreddates={preferredDates}
	></c-order-entry-installation-information>
	<div class="slds-m-top_medium"></div>
	<c-order-entry-installation-overstapservice
		state={state}
		onoverstapservicestagechange={overstapservicestagechange}
	>
	</c-order-entry-installation-overstapservice>
	<div class="slds-m-top_medium"></div>
	<c-order-entry-installation-notes state={state} onnoteschange={notesChange}>
	</c-order-entry-installation-notes>
</template>