<template>
	<template if:true={headerInfo}>
		<!-- HEADER -->
		<div class="slds-page-header slds-m-bottom_none">
			<div class="slds-page-header__row">
				<div class="slds-page-header__col-title">
					<div class="slds-media">
						<div class="slds-media__figure">
							<lightning-icon
								icon-name="standard:visit_templates"
								alternative-text="Order Entry"
								title="Order Entry"
								size="large"
							></lightning-icon>
							<span class="slds-assistive-text">Order Entry</span>
						</div>
						<div class="slds-media__body">
							<div class="slds-page-header__name">
								<div class="slds-page-header__name-title">
									<h1>
										<span
											class="slds-page-header__title slds-truncate"
											title="Order Entry"
											>Order Entry</span
										>
									</h1>
								</div>
							</div>
							<p class="slds-page-header__name-meta">{headerInfo}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style="padding-bottom: 90px">
			<template if:true={showLoader}>
				<div
					style="
						height: 100%;
						width: 100%;
						position: absolute;
						z-index: 10000000000;
						background: rgba(255, 255, 255, 0.5);
					"
				>
					<div role="status" class="slds-spinner slds-spinner_medium">
						<span class="slds-assistive-text">Loading</span>
						<div class="slds-spinner__dot-a"></div>
						<div class="slds-spinner__dot-b"></div>
					</div>
				</div>
			</template>

			<!-- PATH COMPONENT -->
			<div class="slds-path slds-m-top_medium">
				<div class="slds-grid slds-path__track">
					<div class="slds-grid slds-path__scroller-container">
						<div class="slds-path__scroller">
							<div class="slds-path__scroller_inner">
								<ul
									class="slds-path__nav"
									role="listbox"
									aria-orientation="horizontal"
								>
									<template
										for:each={processedSteps}
										for:item="step"
										for:index="i"
									>
										<li
											class={step.computedClass}
											key={step.name}
											id={step.name}
											role="presentation"
										>
											<a
												aria-selected="false"
												class="slds-path__link"
												onclick={setActive}
												role="option"
												tabindex="-1"
											>
												<span class="slds-path__stage">
													<lightning-icon
														icon-name="utility:check"
														alternative-text={step.name}
														title={step.name}
														size="x-small"
													>
													</lightning-icon>
													<span class="slds-assistive-text"
														>{step.name}</span
													>
												</span>
												<span class="slds-path__title">{step.name}</span>
											</a>
										</li>
									</template>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- MAIN CONTAINER -->
			<div>
				<template if:true={isProductSelection}>
					<c-order-entry-product-selection state={state} onstatechanged={updateState}>
					</c-order-entry-product-selection>
				</template>
				<template if:true={isAccountAndContact}>
					<c-order-entry-account-and-contact state={state} onstatechanged={updateState}>
					</c-order-entry-account-and-contact>
				</template>
				<template if:true={isAddress}>
					<c-order-entry-address
						state={state}
						onstatechanged={updateState}
					></c-order-entry-address>
				</template>
				<template if:true={isProductConfiguration}>
					<c-order-entry-product-config
						state={state}
						onstatechanged={updateState}
						onloader={toggleLoader}
					>
					</c-order-entry-product-config>
				</template>
				<template if:true={isDiscountAndPayment}>
					<c-order-entry-discount-and-payment state={state} onstatechanged={updateState}>
					</c-order-entry-discount-and-payment>
				</template>
				<template if:true={isInstallation}>
					<c-order-entry-installation state={state} onstatechanged={updateState}>
					</c-order-entry-installation>
				</template>
				<template if:true={isQuoteSignature}>
					<c-order-entry-quote-signature
						state={state}
						onpaymentdetailsequired={handlePaymentDetailsRequired}
						onstatechanged={updateState}
					>
					</c-order-entry-quote-signature>
				</template>
			</div>

			<c-order-entry-summary state={state}></c-order-entry-summary>

			<!-- BUTTONS -->
			<footer class="slds-docked-form-footer slds-m-top_medium">
				<button class="slds-button slds-button_destructive" onclick={backToOpp}>
					Close
				</button>
				<template if:false={isFirstIndex}>
					<button class="slds-button slds-button_neutral" onclick={back}>Back</button>
				</template>
				<template if:false={isLastIndex}>
					<button class="slds-button slds-button_neutral" onclick={next}>Next</button>
				</template>
			</footer>
		</div>
	</template>
</template>