<template>
	<div if:true={displaySignatureModal}>
		<template if:true={loading}>
			<div class="slds-align--absolute-center">
				<lightning-spinner
					alternative-text="Loading"
					size="medium"
					style="z-index: 9999999; left: -20px; top: -200px; bottom: -350px; right: -20px"
				></lightning-spinner>
			</div>
		</template>
		<section
			role="dialog"
			tabindex="-1"
			aria-labelledby="modal-heading-01"
			aria-modal="true"
			aria-describedby="modal-content-id-1"
			class="slds-modal slds-fade-in-open slds-modal_medium"
		>
			<div class="slds-modal__container">
				<header class="slds-modal__header">
					<h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">
						Signature
					</h2>
				</header>
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<lightning-input
						type="text"
						label="Signed by"
						required
						value={nameOfSignatory}
						class="slds-m-bottom_medium"
						onchange={changeNameOfSignatory}
					></lightning-input>
					<c-order-entry-signature
						onconfirmsignature={confirmationSignature}
					></c-order-entry-signature>
				</div>
				<footer class="slds-modal__footer slds-modal__footer_directional">
					<button class="slds-button slds-button_brand" onclick={confirmSignature}>
						Confirm Signature
					</button>
					<button class="slds-button slds-button_neutral" onclick={clearSignature}>
						Clear Signature
					</button>
					<button class="slds-button slds-button_destructive" onclick={closeModal}>
						Cancel
					</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</div>
</template>