<template>
	<div class="slds-p-top_medium">
		<lightning-card title="Address Check" icon-name="standard:address">
			<div slot="actions">
				<lightning-button
					class="slds-p-right_small"
					variant="brand"
					label="New Address Check"
					slot="actions"
					onclick={newAddressCheck}
				></lightning-button>
			</div>

			<div class="slds-card__body_inner">
				<template if:true={loading}>
					<lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
				</template>

				<div
					class="slds-grid slds-gutters slds-p-top_medium slds-p-left_medium slds-p-right_medium"
				>
					<div class="slds-col slds-size_1-of-2">
						<lightning-combobox
							class="slds-p-top_medium address-check-result"
							name="addresCheckResult"
							label="Address Check Result"
							value={addressCheckResult}
							options={addressCheckResultOptions}
							onchange={handleAddressCheck}
							required
						></lightning-combobox>
					</div>
					<div class="slds-col slds-size_1-of-2">
						<template if:true={resetValError}>
							<lightning-combobox
								class="slds-p-top_medium off-net-type"
								name="off-net_type"
								label="Off-Net Type"
								value={offNetType}
								disabled={offNetTypeDissabled}
								required={offNetTypeRequired}
								options={offNetTypeOptions}
								onchange={handleOffNetChange}
							></lightning-combobox>
						</template>
					</div>
				</div>
			</div>
		</lightning-card>
	</div>
</template>